<% include header.ejs %>

<div class="container">

	<div class="row">
		<div class="span12">
			<%-existingKeywords%>
		</div>
	</div>
</div>

<div class="container">
	<hr>
	<footer>
		<p>Läkemedelsboken</p>
	</footer>
</div>

<% include footer.ejs %>