<% include header.ejs %>

<div class="container">

	<div class="row">
		<div class="span5">
			<div class="well">
				<a class="btn btn-small pull-right" target="_blank" href="/admin/keywords.json"><i class="icon-arrow-down"></i> Ladda hem ordlistan</a>
				<br>
				<ul id="wordList" class="nav nav-list">
					<li class="nav-header">Ordlista</li>
					<% for (var word in keywords) { %>
					<li class="clearfix word" style="cursor: pointer;"><button class="btn btn-small pull-right deleteWord" data-word-id="<%=word%>"><i class="icon-remove"></i></button> <i class="icon-pencil"></i> <small><strong><%=word%></strong> : <%=keywords[word].atc%></small></li>
					<% } %>
				</ul>
			</div>
		</div>
		<div class="span7">
			<a class="btn btn-primary" href="/admin/keywords/existing">Visa alla hittade ordkopplingar <i class="icon icon-arrow-right"></i></a>
			
			<h2>Skapa ny ordkoppling</h2>
			<div>
				<fieldset>
					<form id="update">
						<label>Ord i text:</label>
						<input class="input-xxlarge" type="text" id="keyword" name="keyword" autocomplete="off" placeholder="Till exempel 'tyroxin'">

						<label>ATC-kod:</label>
						<input class="ajax-typeahead input-xxlarge" type="text" id="value" autocomplete="off" name="value" placeholder="Till exempel 'H03AA Tyreoideahormoner'" data-link="/admin/atc">
						<br>
						<button id="updateKeyword" class="btn" data-loading-text="Sparar..." autocomplete="off"><i class="icon-ok-circle"></i> Spara koppling</button>
					</form>
				</fieldset>
			</div>
			<h2>Sök ATC-kod:</h2>
			<div>
				<ul id="asyncTree">
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<hr>
	<footer>
		<p>Läkemedelsboken</p>
	</footer>
</div>
<script>

$.ajaxSetup({ cache: false });

//            url: $(this)[0].$element[0].dataset.link,
$('.ajax-typeahead').typeahead({
    source: function(query, process) {
        return $.ajax({
            url: $("#value").attr("data-link"),
            type: 'get',
            data: {query: query},
            dataType: 'json',
            success: function(json) {
                return typeof json.options == 'undefined' ? false : process(json.options);
            }
        });
    }
});
$("#asyncTree").treeview({
	url: "/admin/tree"
})

$("#updateKeyword").live("click", function(event) {
	event.preventDefault();
	var word = $.trim($("#keyword").val());
	var atc = $.trim($("#value").val());

	if (word !== "" && atc !== "") {
		var formData = {keyword: word, value: atc};
		var button = $(this);
		button.button('loading');
		$.get("update", formData, function(data, textStatus, jqXHR) {
			if (textStatus === "success") {
				//Reset inputs
				$("#keyword").val("");
				$("#value").val("");
				//Update list of words
				updateWordList();
			} else {
				alert(textStatus);
			}
			button.button('reset');
		});
	}
});

$(".deleteWord").live("click", function(event) {
	event.stopPropagation();
	$.get("/admin/delete", {keyword: $(this).attr("data-word-id")}, function(data, textStatus, jqXHR) {
		updateWordList();
	});
});

$(".word").live("click", function(event) {

	var text = $(this).text().split(" : ");
	var keyword = $.trim(text[0]);
	var value = $.trim(text[1]);
	$("#keyword").val(keyword);
	$("#value").val(value);

});

function updateWordList() {
	$.get("/admin/keywords.json", function(data) {
		var words = data;
		$("#wordList").empty();
		$("#wordList").append($("<li class=\"nav-header\">Ordlista</li>"));
		for (var word in words) { 
			$("#wordList").append($("<li class=\"clearfix word\" style=\"cursor: pointer;\"><button class=\"btn btn-small pull-right deleteWord\" data-word-id=\"" + word + "\"><i class=\"icon-remove\"></i></button> <i class=\"icon-pencil\"></i> <small><strong>" + word + "</strong> : " + words[word].atc + "</small></li>"));
		}
		
	});
}
</script>

<% include footer.ejs %>