<% include header.ejs %>

<div class="container">

	<div class="row">
		<div class="span12">
			<h2>Administration</h2>
			
			<h3><a href="preview">Kapitel</a></h3>
			<p>Ladda upp nya kapitel eller återkonvertera alla kapitel.</p>

			<h3><a href="keywords">Ordkopplingar</a></h3>
			<p>Lägg till eller ta bort ordkopplingar.</p>

			<h3><a href="frontpage">Förstasida</a></h3>
			<p>Generera ny förstasida, ladda upp bilder till förstasida.</p>

			<h3><a href="sitemap">Sitemap</a></h3>
			<p>Hämta sitemap för uppladdning till sökmotorer.</p>

			<h3><a href="controls">Kontroller</a></h3>
			<p>Visar om det saknas några faktarutor, terapirekommendationer eller tabeller för alla kapitel.</p>

			<h3><a href="tables">Tabeller</a></h3>
			<p>Listar alla faktarutor, terapirekommendationer och tabeller på en sida.</p>

		</div>
	</div>

</div>

<div class="container">
	<hr>
	<footer>
		<p>Läkemedelsboken</p>
	</footer>
</div>
<script>
</script>

<% include footer.ejs %>