<% include header.ejs %>

<div class="container">

	<div class="row">
		<div class="span12">
			<h2>Publicera</h2>
			
		</div>
	</div>

</div>

<div class="container">
	<hr>
	<footer>
		<p>Läkemedelsboken</p>
	</footer>
</div>
<script>
</script>

<% include footer.ejs %>
