<% include header.ejs %>

<div class="container">

	<div class="row">
		<div class="span12">
			<h2>Tabeller</h2>
			
		</div>
	</div>
	
	<%
	for (var i = 0; i < tables.length; i++) {
		var chapter = tables[i];
		var tableContents = chapter.tables;
				
		for (var j = 0; j < tableContents.length; j++) {
			var contents = tableContents[j];
			%>
			<div style="clear: both; margin-bottom: 10px;">
				<h4 style="text-align: center;"><%=chapter.chapter%></h4>
				<div style="clear: both;">
				<%-contents%>
			</div>
			<%
		}
	}
	%>

</div>

<div class="container">
	<hr>
	<footer>
		<p>Läkemedelsboken</p>
	</footer>
</div>
<script>
</script>

<% include footer.ejs %>
