<h3>Om Läkemedelsboken</h3>
<p>
	Läkemedelsbokens övergripande målsättning är att ge producentoberoende information om läkemedelsbehandling vid vanliga sjukdomstillstånd. Boken innehåller också kapitel som tar upp mer övergripande aktuella aspekter på läkemedelsanvändning samt kapitel om regelverket inom läkemedelsområdet.
</p>
<p class="indent">
	LB vänder sig framför allt till specialister i allmänmedicin, läkare under specialistutbildning eller allmäntjänstgöring samt medicine och farmacie studerande, men också till läkare som behöver råd vid medicinska problem utanför den egna specialiteten.
</p>
<h3>Den nya webbversionen</h3>

<h4>Betaversion</h4>
<p>Den nya webbversionen är en betaversion. Det innebär att ett visst arbete kvarstår med layouten och länkarna till Fass-texter för läkemedelssubstanserna. Läkemedelssubstanser som nämns i texten är ”underprickade” (med diskreta prickar) och klickbara. Kopplingar till Fass-texter har delvis genererats automatiskt och därför har substanserna blivit underprickade vare sig det i texten rör sig om ett läkemedel eller inte, exempelvis glukos. Detta kommer successivt att åtgärdas liksom att det för en viss läkemedelssubstans i dagsläget kan saknas läkemedel som egentligen skulle varit kopplade till en aktuell substans/läkemedelsgrupp.</p>

<h4>Terapirekommendationer, tabeller, figurer och faktarutor</h4>
<p>Terapirekommendationer, tabeller, figurer och faktarutor har samlats först i kapitlen, innan inledningsavsnitten, för att vara lättåtkomliga men återfinns även där de omnämns i texten.</p>

<h4>Sökfunktionen</h4>
<p>Särskild omsorg har ägnats sökfunktionen så att den ska vara snabb, lättnavigerad och även i övrigt användarvänlig. Pröva och kom med synpunkter!</p>

<div style="clear: both;"></div>
