<h2>Redaktionskommitté</h2>

<ul class="authorsByLetter">
	<li>
		<strong>Patrik Midlöv</strong> <small>Ordförande</small><br>
		Institutionen för Kliniska Vetenskaper i Malmö, Lunds Universitet samt Vårdcentralen, Tåbelund, Eslöv
	</li>
	<li>
		<strong>Pernilla Örtqvist</strong> <small>Redaktör</small><br>
		Läkemedelsverket, Uppsala
	</li>
	<li>
		<strong>Annika Andén</strong><br>
		Bergnäsets vårdcentral, Luleå
	</li>
	<li>
		<strong>Anders Carlsten</strong><br>
		Läkemedelsverket, Uppsala
	</li>
	<li>
		<strong>Kerstin Claesson</strong><br>
		Läkemedelsverket, Uppsala
	</li>
	<li>
		<strong>Leif Gothefors</strong><br>
		Klinisk vetenskap, pediatrik, Umeå Universitet, Umeå
	</li>
	<li>
		<strong>Tove Gunnarsson</strong><br>
		Psykiatri Karolinska, Karolinska Universitetssjukhuset, Stockholm
	</li>
	<li>
		<strong>Bengt Jeppsson</strong><br>
		Kirurgiska kliniken, Skånes universitetssjukhus, Malmö
	</li>
	<li>
		<strong>Hans Liedholm</strong><br>
		Lund
	</li>
	<li>
		<strong>Jan Liliemark</strong><br>
		SBU, Stockholm
	</li>
	<li>
		<strong>Staffan Living</strong><br>
		Skånes universitetssjukhus, Lund
	</li>
	<li>
		<strong>Håkan Odeberg</strong><br>
		Landstinget Blekinge kompetenscentrum, Karlskrona
	</li>
</ul>