<div class="row span4 pull-right">
	<a href="http://www.lakemedelsverket.se/" target="_blank">
		<div class="staticImage span4 pull-right" data-picture data-alt="Läkemedelsverket">
			<div data-src="/img/static/mpa_images/opt/mpa_small.png"></div>
			<div data-src="/img/static/mpa_images/opt/mpa_small_x2.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
			<div data-src="/img/static/mpa_images/opt/mpa_medium.png" data-media="(min-width: 481px)"></div>
			<div data-src="/img/static/mpa_images/opt/mpa_medium_x2.png" data-media="(min-width: 481px) and (min-device-pixel-ratio: 2.0)"></div>
			<div data-src="/img/static/mpa_images/opt/mpa_large.png" data-media="(min-width: 980px)"></div>
			<div data-src="/img/static/mpa_images/opt/mpa_large_x2.png" data-media="(min-width: 980px) and (min-device-pixel-ratio: 2.0)"></div>
			<div data-src="/img/static/mpa_images/opt/mpa_huge.png" data-media="(min-width: 1200px)"></div>
			<div data-src="/img/static/mpa_images/opt/mpa_huge_x2.png" data-media="(min-width: 1200px) and (min-device-pixel-ratio: 2.0)"></div>
			<!--[if (lt IE 9) & (!IEMobile)]>
			<div data-src="/img/static/mpa_images/opt/mpa_large.png"></div>
			<![endif]-->
			<noscript>
			<img src="/img/static/mpa_images/opt/mpa_large.png" alt="Bild">
			</noscript>
		</div>
	</a>
	<table id="facts_1" class="table table-bordered facts span4 pull-right">
		<tbody>
			<tr>
				<td colspan="1">
					<h4>Kontakta redaktionen</h4>
				</td>
			</tr>
			<tr>
				<td>
					<p>
						Kontakta oss gärna, i första hand via e-post.
						<br>
						<a href="http://www.lakemedelsverket.se/topp/Kontakta-oss/Kontaktpersoner/Ovrigt/Kontakta-redaktionen/"><i class="icon-envelope-alt"></i> Skicka meddelande till redaktionen</a>
						<br><br>
					</p>
				
					<p>
						<strong>Redaktör:</strong><br>
						Helena Ramström<br>
						leg. apotekare, farm. dr<br>
						<a href="mailto:helena.ramstrom@mpa.se">helena.ramstrom@mpa.se</a><br>
						070-276 34 95
					</p>

				</td>
			</tr>
			<tr>
				<td>
					<h4>Vem får Läkemedelsboken?</h4>
				</td>
			</tr>
			<tr>
				<td>
					<p class="normal">
						All sjukvårdspersonal med förskrivningsrätt erhåller ett exemplar utan kostnad, och för distributionen av LB inom de olika landstingen svarar respektive <a href="http://www.skl.se/halsasjukvard/lakemedel/kontaktuppgifter/lakemedelskommitter.1934.html">läkemedelsråd / läkemedelskommitté <i class="icon-double-angle-right"></i></a>.
					</p>
					<p>
						Andra intressenter som universitet, högskolor, apotek och läkemedelsindustri hänvisas till Läkemedelsverket för information om leveransvillkor och pris.
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<h4>Talbok</h4>
				</td>
			</tr>
			<tr>
				<td>
					<p class="normal">
						LB 2014 finns inläst som talbok och kan lånas från ett publikt bibliotek av personer med läsnedsättning enligt paragraf 17 i upphovsrättslagen.
					</p>
					<p>
						<a href="http://www.legimus.se/work/details?workId=6886d1d7-baee-4298-bef9-a2de006a53b9">Mer information om LB som talbok <i class="icon-double-angle-right"></i></a>
					</p>
				</td>
			</tr>
			
			<tr>
				<td colspan="1">
					<h4>PDF-versioner</h4>
				</td>
			</tr>
			<tr>
				<td>
					<p>
						<a href="/files/{VERSION}/LB2014.pdf" class="pdfLink"><i class="icon-file-alt"></i> Ladda hem hela boken (15 MB).</a>
					</p>
					<p>
						Detta är en PDF-version av den tryckta boken som inte uppdateras, till skillnad från enskilda kapitel i PDF-format.
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>
						<a href="pdfs.html">Visa enskilda kapitel som PDF <i class="icon-double-angle-right"></i></a>
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<h4>Jävsdeklarationer</h4>
				</td>
			</tr>
			<tr>
				<td>
					<p class="normal">
						Författarnas jävsdeklarationer har bedömts och godkänts enligt de riktlinjer som tagits fram i det myndighetsgemensamma jävsnätverket, <a href="http://www.lakemedelsverket.se/overgripande/Publikationer/Deklaration-av-jav-intressekonflikter-eller-andra-bindningar-/">www.lakemedelsverket.se</a>. Jävsdeklarationerna finns tillgängliga på förfrågan till Läkemedelsverket. I slutet av varje kapitel finns förberedda mejl till <a href="mailto:registrator@mpa.se">registrator@mpa.se</a>.
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<h4>Öppen källkod</h4>
				</td>
			</tr>
			<tr>
				<td>
					<p class="normal">
						Webbversionen av Läkemedelsboken är öppen källkod.
					</p>
					<p>
						Vi tar tacksamt emot förbättringsförslag via <a href="https://github.com/lakemedelsboken"><i class="icon-github"></i> GitHub</a>.
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<h4><a href="foreword.html">Förord <i class="icon-double-angle-right"></i></a></h4>
				</td>
			</tr>
			<tr>
				<td>
					<h4><a href="authors.html">Författarregister <i class="icon-double-angle-right"></i></a></h4>
				</td>
			</tr>
			<tr>
				<td>
					<h4><a href="editors.html">Redaktionskommitté <i class="icon-double-angle-right"></i></a></h4>
				</td>
			</tr>
			<tr>
				<td>
					<h4><a href="press.html">Pressmaterial <i class="icon-double-angle-right"></i></a></h4>
				</td>
			</tr>
			<tr>
				<td>
					<h4><a href="/api/">Webbtjänster <i class="icon-double-angle-right"></i></a></h4>
				</td>
			</tr>
			<tr>
				<td>
					<h4><a href="/bookmarklets/">Smart bokmärke <i class="icon-double-angle-right"></i></a></h4>
				</td>
			</tr>
		</tbody>
	</table>
</div>
