<div class="row span4 pull-right">
	<div class="staticImage span4 pull-right" data-picture data-alt="Läkemedelsverket">
		<div data-src="/img/static/mpa_images/opt/mpa_small.png"></div>
		<div data-src="/img/static/mpa_images/opt/mpa_small_x2.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		<div data-src="/img/static/mpa_images/opt/mpa_medium.png" data-media="(min-width: 481px)"></div>
		<div data-src="/img/static/mpa_images/opt/mpa_medium_x2.png" data-media="(min-width: 481px) and (min-device-pixel-ratio: 2.0)"></div>
		<div data-src="/img/static/mpa_images/opt/mpa_large.png" data-media="(min-width: 980px)"></div>
		<div data-src="/img/static/mpa_images/opt/mpa_large_x2.png" data-media="(min-width: 980px) and (min-device-pixel-ratio: 2.0)"></div>
		<div data-src="/img/static/mpa_images/opt/mpa_huge.png" data-media="(min-width: 1200px)"></div>
		<div data-src="/img/static/mpa_images/opt/mpa_huge_x2.png" data-media="(min-width: 1200px) and (min-device-pixel-ratio: 2.0)"></div>
		<!--[if (lt IE 9) & (!IEMobile)]>
		<div data-src="/img/static/mpa_images/opt/mpa_large.png"></div>
		<![endif]-->
		<noscript>
		<img src="/img/static/mpa_images/opt/mpa_large.png" alt="Bild">
		</noscript>
	</div>

	<table id="facts_1" class="table table-bordered facts span4 pull-right">
		<tbody>
			<tr>
				<td colspan="1">
					<h4>Kontakta redaktionen</h4>
				</td>
			</tr>
			<tr>
				<td>
					<p>
						Kontakta oss gärna, i första hand via e-post.
						<br>
						<a href="http://www.lakemedelsverket.se/topp/Kontakta-oss/Kontaktpersoner/Ovrigt/Kontakta-redaktionen/"><i class="icon-envelope-alt"></i> Skicka meddelande till redaktionen &#187;</a>
					</p>
				
					<h5>Om innehållet:</h5>
					<p>
						Redaktör:<br>
						Helena Ramström<br>
						leg. apotekare, farm. dr<br>
						I första hand via mejl: <a href="mailto:helena.ramstrom@mpa.se">helena.ramstrom@mpa.se</a><br>
						070-276 34 95
					</p>

					<h5>Om distributionen:</h5>
					<p>
						Christina Hambn<br>
						018-17 46 25
					</p>

				</td>
			</tr>
			<tr>
				<td>
					<h4>Vem får Läkemedelsboken?</h4>
				</td>
			</tr>
			<tr>
				<td>
					<p class="normal">
						All sjukvårdspersonal med förskrivningsrätt erhåller ett exemplar utan kostnad, och för distributionen av LB inom de olika landstingen svarar respektive läkemedelsråd / läkemedelskommitté.
					</p>
					<p>
						Andra intressenter som universitet, högskolor, apotek och läkemedelsindustri hänvisas till Läkemedelsverket för information om leveransvillkor och pris.
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<h4>Öppen källkod</h4>
				</td>
			</tr>
			<tr>
				<td>
					<p class="normal">
						Webbversionen av Läkemedelsboken är öppen källkod.
					</p>
					<p>
						Vi tar tacksamt emot förbättringsförslag via <a href="https://github.com/lakemedelsboken">GitHub <i class="icon-github"></i></a>.
					</p>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<h3>Om Läkemedelsboken</h3>
<p>
	Läkemedelsbokens övergripande målsättning är att ge producentoberoende information om läkemedelsbehandling vid vanliga sjukdomstillstånd. Boken innehåller också kapitel som tar upp mer övergripande aktuella aspekter på läkemedelsanvändning samt kapitel om regelverket inom läkemedelsområdet.
</p>
<p class="indent">
	LB vänder sig framför allt till specialister i allmänmedicin, läkare under specialistutbildning eller allmäntjänstgöring samt medicine och farmacie studerande, men också till läkare som behöver råd vid medicinska problem utanför den egna specialiteten. LB används som ett uppslagsverk av alla kategorier av sjukvårdspersonal inklusive farmaceuter.
</p>
<div style="clear: both;"></div>

<h2>Nyheter</h2>
