<h2>Pressmaterial</h2>

<h3>Högupplösta bilder</h3>

<div class="row">
	<div class="span2 well">
		<img src="/img/{VERSION}/press/book/LB_2014_mini.png">
	</div>
	<div class="span5">
		<h3>Bok</h3>
		<p><a href="/img/{VERSION}/press/book/LB_2014_large.png">Stor PNG</a> <small>(2652 × 2858, 2,8 MB)</small></p>
		<p><a href="/img/{VERSION}/press/book/LB_2014_medium.png">Mellan PNG</a> <small>(1326 × 1429, 664 KB)</small></p>
		<p><a href="/img/{VERSION}/press/book/LB_2014_small.png">Liten PNG</a> <small>(663 × 715, 181 KB)</small></p>
	</div>
</div>

<div class="row">
	<div class="span2 well">
		<img src="/img/{VERSION}/press/cover/LB_2014_Framsida_mini.png">
	</div>
	<div class="span5">
		<h3>Bokomslag</h3>
		<p><a href="/img/{VERSION}/press/cover/LB_2014_Framsida.png">Framsida PNG</a> <small>(4087 × 5787, 240 KB)</small></p>
		<p><a href="/img/{VERSION}/press/cover/LB_2014_Rygg.png">Rygg PNG</a> <small>(1228 × 5787, 51 KB)</small></p>
		<p><a href="/img/{VERSION}/press/cover/LB_2014_Baksida.png">Baksida PNG</a> <small>(4087 × 5787, 268 KB)</small></p>
		<p><a href="/img/{VERSION}/press/cover/LB_2014_cover_pages.pdf">Bokomslag som PDF</a> <small>(940 KB)</small></p>
	</div>
</div>