lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz


pids
logs
results

npm-debug.log
secretSettings.json
newAtcTree.json
/servers/admin/mif/parserMessages.txt
.DS_Store
_old
/npl/database/*
/servers/admin/backup/*
/.vagrant/
/.idea/
/.vs/
