<!DOCTYPE html>
<html>
	<head>
		<title>{TITLE}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Läkemedelsbokens webbversion">
		<meta name="author" content="Läkemedelsverket">

	    <link rel="alternate" type="application/atom+xml" title="Läkemedelsboken" href="/blog/index.xml" />
		
		<link rel="stylesheet" href="/css/{VERSION}/styles.min.css">

		<!--[if lt IE 9]>
			<link rel="stylesheet" type="text/css" href="/css/{VERSION}/jquery.ui.ie.min.css"/>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
			
		<link rel="stylesheet" type="text/css" href="/css/{VERSION}/lb.min.css">
		<link rel="stylesheet" type="text/css" href="/css/{VERSION}/print.min.css" media="print">

		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
		<noscript>
			<link rel="stylesheet" type="text/css" href="/css/{VERSION}/noscript.min.css">
		</noscript>
	</head>

	<body>
		<a href="#" id="gotoTop" class="btn btn-mini btn-primary visible-phone" title="Gå till sidans topp"><i class="icon-arrow-up"></i></a>
		<a href="{PDF}" target="_blank" id="pdf" class="btn btn-small btn-primary hidden-phone" title="Visa detta kapitel som PDF"><i class="icon icon-file-alt"></i></a>
		<a href="#" id="fullscreen" class="btn btn-small btn-primary hidden-phone" title="Visa text i fullskärm (f)"><i id="fullscreenIcon" class="icon icon-resize-full"></i></a>
		<a href="#" id="normalscreen" class="btn btn-small btn-primary hidden-phone" title="Visa text normalt (f)"><i id="normalscreenIcon" class="icon icon-resize-small"></i></a>
		<div class="container" id="content">
			<div class="row">
				<div id="sideContainer" class="affix span4">
					<div id="searchContainer" class="navbar">
						<div class="navbar-inner">
							<div id="searchResultsNavigation" class="navbar-inverse hidden">
								<div class="navbar-inner">
									<ul class="nav">
										<li class="goto">Gå till:</li>
										<li class="search"><a href="#sideContainer">Sökruta</a></li>
										<!-- <li class="titles"><a href="#titleSearchResults">Rubriker</a></li> -->
										<li class="content"><a href="#contentSearchResults">Innehåll</a></li>
										<li class="medicines"><a href="#medicineSearchResults">Läkemedel</a></li>
									</ul>
								</div>
							</div>
							<a class="brand" href="/">Läkemedelsboken</a>
							<form id="searchForm" class="form-search" action="/search" method="get">
								<a href="#" id="performSearch" title="Sök (Enter)"><i class="icon-circle-arrow-right"></i></a>
								<a href="#" id="resetSearch" title="Avbryt sökning (Esc)"><i class="icon-remove-sign"></i></a>
								<input type="text" class="search-query input-block-level" placeholder="Sök" name="search" id="search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" title="Sökruta (s)">
								<div class="icon-search"></div>
							</form>
						</div>
					</div>
					<a class="btn btn-primary btn-block visible-phone" id="toggleNavigation"><i class="icon icon-chevron-down"></i> Visa meny</a>
					<div id="sideMenu">
						<ul id="sideBar" role="navigation">
						</ul>
					</div>
				</div>
				<div class="popover bottom span12 affix" id="searchResults">
					<div class="arrow" id="searchResultsArrow"></div>
					<div class="popover-inner">
						<h3 class="popover-title searchTitleBar">Sökresultat <button class="close" id="closeSearchResults">&times;</button></h3>
						<div class="popover-content" >
							<div class="container" id="searchResultsContainer">
								<!--
								<div id="titleSearchResults" class="span4">
									<h5>Rubriker</h5>
									<ul class="nav nav-tabs nav-stacked" id="titleSearchResultsList">
									</ul>
								</div>
								-->
								<div id="contentSearchResults" class="span7">
									<h5>Innehåll</h5>
									<ul class="nav nav-tabs nav-stacked" id="contentSearchResultsList">
									</ul>
								</div>
								<div id="medicineSearchResults" class="span5">
									<h5>Läkemedel</h5>
									<ul class="nav nav-tabs nav-stacked" id="medicineSearchResultsList">
									</ul>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>				
				<div id="mainContainer" class="span8 offset4">
					<div id="main">
