/* TEXT SIZE */
BODY.fontSizeSmaller DIV#page {
    font-size: 70%;
}
BODY.fontSizeLarger DIV#page {
    font-size: 85%;
}
BODY.fontSizeLargest DIV#page {
    font-size: 90%;
}


/* TYPEFACE */
BODY.typefaceGeorgia * {
    font-family: Georgia, sans-serif !important;
}
BODY.typefaceArial * {
    font-family: arial, sans-serif !important;
}
BODY.typefaceTimes * {
    font-family: "times new roman", serif !important;
}
BODY.typefaceCourier * {
    font-family: courier, sans-serif !important;
}

/* LINE HEIGHT */
BODY.lineHeightLarger * {
    line-height: 1.6 !important;
}
BODY.lineHeightLarger INPUT,
BODY.lineHeightLarger UL#menu LI A {
    line-height: 1.1 !important;
}
BODY.lineHeightLargest * {
    line-height: 1.9 !important;
}
BODY.lineHeightLargest INPUT,
BODY.lineHeightLargest UL#menu LI A {
    line-height: 1.1 !important;
}


/* WORD SPACING */
BODY.wordSpacingLarger * {
    word-spacing: 0.25em;
}
BODY.wordSpacingLargest * {
    word-spacing: 0.5em;
}