ul.SimpleContextMenu {
	display: none;
	position: absolute;
	margin: 0px;
	padding: 2px;
	font-family: tahoma;
	font-size: 11px;
	list-style-type: none;
	border-top: 1px solid #8f8f73;
	border-left: 1px solid #8f8f73;
	border-right: 1px solid #8f8f73;
	border-bottom: 1px solid #8f8f73;
	background:#f7f7f7;
}

	ul.SimpleContextMenu li {
			background:url(../img/bg_contextmenu.gif);
			clear:both;
	}

		ul.SimpleContextMenu li a {
			display: block;
			width: 120px;
			padding: 3px 10px 3px 3px;
			text-decoration: none!important;
			color: #000000!important;
			background:url(../img/bg_contextmenu.gif);
			margin:0;
		}
		ul.SimpleContextMenu li a:hover {
			text-decoration: none!important;
			color: #ffffff!important;
			background:url(../img/bg_contextmenu_hover.gif)!important;
		}
.SimpleContextMenuIcon {
	float:left;
	margin-right:7px;
}
.SimpleContextMenuLink {
	padding-top:1px;
}

	ul.SimpleContextMenu li.SimpleContextMenuDivider {
		padding:0!important;
		margin:0 0 0 0!important;
		width:133px!important;
		height:3px!important;
		background:url(../img/bg_contextmenu_divider.gif);
		clear:both;
	}
