body {width: 98%; margin: 0 auto; overflow: hidden; padding: 1% 0;
-moz-hyphens:auto;
-ms-hyphens:auto;
-webkit-hyphens:auto;
hyphens:auto;
word-wrap:break-word;
-webkit-text-size-adjust:100%;}
form {background: #FFF; padding: 2.125%;}
#container {width: 100%;}
.helper-links {position: static; clear: both; display: none;}

#header  {overflow: hidden; border-bottom: 1px solid #CCC; padding: 0;}

#header h1 {margin: 0 0 10px; width: 48.333333%; float: left;}

.only-mobile {display: block;}

.search-wrapper {clear: both;}
#expand-search {display: none; width: 33.3333%; text-align: center; float: right; background: #424242; color: #FFF; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
#expand-search.expanded {border-radius: 4px 4px 0 0; /*border-bottom: 3px solid #8cd600;*/ background: #424242 url(../images/mobile/green-up-arrow.png) no-repeat 50% 100%;}
.site-search {/*display: none;*/ background: url(../images/mobile/searchbar-mob.png); position: static; clear: both; margin: 0 0 10px; position: relative; top: auto; z-index: 10;
-webkit-border-radius: 4px 0 4px 4px; -moz-border-radius: 4px 0 4px 4px; border-radius: 4px 0 4px 4px; overflow: hidden;}
#expand-search.expanded + .site-search {display: block;}
.push-label label span {display: none;}
.push-label label.input {display: block; width: auto; background: url(../images/mobile/searchbar-mob.png) no-repeat 100% 0; overflow: hidden; width: 100%;}
/*.push-label label {border-bottom: 3px solid #f97; overflow: hidden; background: #ff9; display: block;}*/
#searchString.placeholder {color: #666;}
#searchString, #searchBtn {-webkit-appearance: none; border-radius: 0;}
#searchString {background: url(../images/mobile/searchbar-mob.png) no-repeat; float: none; display: block; width: auto; border-radius: none;}
.searchBtn {float: right; margin-left: -40px; position: relative; z-index: 10; background-image: url(../images/mobile/searchbar-mob.png); border-radius: none;}

.quick-navigation {background: #00A0C4; color: #FFF; border-radius: 4px; clear: both; padding: 1.666666%; margin: 0 0 10px; overflow: hidden;}
.quick-navigation ul {list-style: none; padding: 0; /*background: #F00;*/ margin: 0; text-align: center; width: 100%; position: relative;}
.quick-navigation li {background: #FFF; color: #000; border-radius: 3px; display: block; float: left; width: 18.5%; padding: 0; height: 54px; line-height: 54px; margin-right: 1.875%; overflow: hidden; text-align: center; box-sizing: border-box; -moz-box-sizing: border-box;}
.quick-navigation li:nth-last-child(2) {margin-right: 0 !important;}
.quick-navigation li:last-child {margin-right: 0 !important; float: right;}

.sticky  .quick-navigation {position: fixed; left:0; top: 0; width: 96.66666667%;}

#quickNavHolder {overflow: hidden; margin: 0 0 4px; display: block; width: 85.05%; float: left;}
#quickNav ul {width:100%; /*margin-left:-20px;*/ padding: 4px 0; border-radius: 4px; /*line-height:67px;*/ line-height: 39px; text-align:center; font-size:14px; background:#00A0C4; color:#ddd; overflow: hidden;}
#quickNav li {float:left; padding:0; width: 23.75%; margin: 0 0 0 1%; overflow: hidden; background: #138ba6; border-radius: 3px; height: 67px; height: 42px; color: #E6F6FA; position: relative;
box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 1px rgba(255, 255, 255, 0.25), 0 -1px 1px rgba(0, 0, 0, 0.1);}
#quickNav li.active {}
#quickNav li a {color: #E6F6FA; display: block; width: 100%; height: 100%; background-repeat: no-repeat; background-position: 50% 50%; text-indent: -9999em;  background-size: auto 100%;}
#quickNav li:hover {background-color: #0e6b80;}
#quickNav li.show-menu {display: none;}
#quickNav li:last-child {}
.sticky #quickNav {position:fixed; top:0; left:0; width:100%; z-index: 1000;}
.sticky #quickNav ul {margin:0 auto; padding: 1% 0; border-radius: 0 0 4px 4px; line-height: 30px;  font:bold 14px/30px 'Droid Sans',sans-serif; text-shadow:0 -1px 0 rgba(0, 0, 0, 0.75);}
.sticky #quickNav li.show-menu {display: block; cursor: pointer;}
.sticky #quickNav li {width: auto; clear: both; float: none; height: 30px; margin: 0 1% 2px; display: none; background: #138ba6; box-shadow: inset 0 -2px 6px rgba(0,0,0,.3), inset 0 1px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.2);}
.sticky #quickNav li:hover {background-color: #0e6b80;}
.sticky #quickNav li a {text-indent: normal;}
.sticky #quickNav ul.expanded li {display: block;}
.sticky #quickNav li:last-child {margin: 0 1%;}

#quickNav li.contact a {background-image: url(../images/mobile/qn-kontakt.png);}
#quickNav li.maps a {background-image: url(../images/mobile/qn-kartor.png);}
#quickNav li.jobs a {background-image: url(../images/mobile/qn-lediga-jobb.png);}
#quickNav li.pr a {background-image: url(../images/mobile/qn-press.png);}

#quickNav li.active a {background-color: #d0ecf3; box-shadow: inset 0 -1px 1px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 -1px 0 rgba(0, 0, 0, 0.1); color: #222; text-shadow: 0 1px 0 rgba(255,255,255,.8);}

#quickNav li.contact.active a {background-image: url(../images/mobile/qn-kontakt-active.png);}
#quickNav li.maps.active a {background-image: url(../images/mobile/qn-kartor-active.png);}
#quickNav li.jobs.active a {background-image: url(../images/mobile/qn-lediga-jobb-active.png);}
#quickNav li.pr.active a {background-image: url(../images/mobile/qn-press-active.png);}

.ie7 #quickNav li.contact a, .ie8 #quickNav li.contact a {
background-image: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/mobile/qn-kontakt.png', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/mobile/qn-kontakt.png',sizingMethod='scale')";
}
.ie7 #quickNav li.maps a, .ie8 #quickNav li.maps a {
background-image: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/mobile/qn-kartor.png', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/mobile/qn-kartor.png',sizingMethod='scale')";
}
.ie7 #quickNav li.jobs a, .ie8 #quickNav li.jobs a {
background-image: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/mobile/qn-lediga-jobb.png', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/mobile/qn-lediga-jobb.png',sizingMethod='scale')";
}
.ie7 #quickNav li.pr a, .ie8 #quickNav li.pr a {
background-image: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/mobile/qn-press.png', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/mobile/qn-press.png',sizingMethod='scale')";
}
.ie7 .sticky #quickNav li a, .ie8 .sticky #quickNav li a, .ie7 .sticky #quickNav li.active a, .ie8 .sticky #quickNav li.active a {
background-image: none;
filter: none !important;
-ms-filter: none !important;
}

.ie7 #quickNav li.contact.active a, .ie8 #quickNav li.contact.active a {
background-image: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/mobile/qn-kontakt-active.png', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/mobile/qn-kontakt-active.png',sizingMethod='scale')";
}
.ie7 #quickNav li.maps.active a, .ie8 #quickNav li.maps.active a {
background-image: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/mobile/qn-kartor-active.png', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/mobile/qn-kartor-active.png',sizingMethod='scale')";
}
.ie7 #quickNav li.jobs.active a, .ie8 #quickNav li.jobs.active a {
background-image: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/mobile/qn-lediga-jobb-active.png', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/mobile/qn-lediga-jobb-active.png',sizingMethod='scale')";
}
.ie7 #quickNav li.pr.active a, .ie8 #quickNav li.pr.active a {
background-image: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/mobile/qn-press-active.png', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/mobile/qn-press-active.png',sizingMethod='scale')";
}

/*.test {background: #F00; width: 256px; clear: both;}
.test ul {list-style: none; margin: 0; padding: 0; width: 100%; overflow: hidden;}
.test ul li {float: left; width: 25%; background: #789;}*/


.mob-1177-info {background: #AA112C url(../images/mobile/1177-mob-teaser-divider.png) no-repeat 50% 50%; color: #FFF; clear: both; padding: 4px; border-radius: 4px;}
.mob-1177-info a {color: #FFF; text-align: center;}
.link-1177 {float: left; width: 50%;}
.phone-1177 {float: left; width: 50%;}
.mob-1177-info a span {display: inline-block; height: 28px; line-height: 28px; padding-left: 28px; background: url(../images/mobile/1177-link-phone.png) no-repeat 0 1px;}
.mob-1177-info a.phone-1177 span {background-position: 0 -42px;}

.sticky #quickNav li.contact a, .sticky #quickNav li.maps a, .sticky #quickNav li.jobs a, .sticky #quickNav li.pr a {text-indent: 0; background-image: none;}

.normal-view {float: right; display: block; background: #000; color: #FFF; width: 48.333333%; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
.normal-view span {display: block; padding: 0 2.0689655%; font-weight: normal; background: none; text-align: center; float: none; line-height: 36px; color:#FFF;}

#topNavigation {background: none; padding: 0;}
#topNavigation a.view-main-menu {display:block;}
#topNavigation .view-main-menu, #topNavigation .view-main-menu:hover {float: left; display: block; background: #00a0c4; color: #FFF; width: 14%; float: right; font-size: 14px; text-indent: -9999em; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; margin: 0 0 10px;}
#topNavigation .view-main-menu span, #topNavigation .view-main-menu:hover span {display: block; padding: 4px 2.0689655%; font-weight: normal; background: none; text-align: center; float: none; line-height: 42px; background: url(/images/mobile/icon-png2x.png) no-repeat 50% 50%; background-size: 50% auto;}
#topNavigation a.expanded, #topNavigation a.expanded:hover {padding-bottom: 4px; -webkit-border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;  margin: 0;}
#topNavigation ul {clear: both; display: none; padding: 1%; margin: 0; background: #00A0C4; /*background: #000;*/ -webkit-border-radius: 4px 0 4px 4px; -moz-border-radius: 4px 0 4px 4px; border-radius: 4px 0 4px 4px;}
#topNavigation .expanded + ul {display: block; margin: 0 0 10px;}
#topNavigation ul li, #topNavigation ul li a, #topNavigation ul li a span {margin: 0; float: none; background: none;}
#topNavigation ul li {border-bottom: 1px solid #0a6073; border-top: 1px solid #0f8aa6; overflow: hidden;}
#topNavigation ul li:first-child {-webkit-border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; border-top: none;}
#topNavigation ul li:last-child {border-bottom: none; -webkit-border-radius: 0 0 3px 3px; -moz-border-radius: 0 0 3px 3px; border-radius: 0 0 3px 3px;}
#topNavigation span {padding: 0;}
#topNavigation .selected a, #topNavigation a {padding: 0; background: none;}
#topNavigation ul li a {padding: 0 2%; background: #0d758c;}
#topNavigation ul li.selected {border-top: 1px solid #FFF;}
#topNavigation ul li.selected a {padding: 0 2%; background: #d7f3fa;}
#topNavigation .selected a span {padding: 0; background: none;}
#topNavigation a:hover {background: #046276;}
#topNavigation a:hover span {background: none;}

.slider-wrapper {float:right; width: 100%; height: auto; padding-top: 5px; background: none;}
#slider {width: 100%; background: none; height:auto;}
#slider li {width: 100%; height: auto;}
#slider li .content {width: 100%; -moz-box-sizing: border-box; position: static; left: auto; bottom: auto;}
/*#slider li {width: auto; max-width: 100%;}
#slider li .content {width: auto;}*/

.intro-row {height: auto;}

.top-news {width: auto; height: auto;}
.top-news li {height: auto;}
.top-news li:last-child {margin-bottom: 0; border-bottom: 0;}
.top-news .news-img {width: 25%;}
.top-news li p {margin-bottom: .5em;height:auto;}
.top-news .content {overflow: hidden;}

.three-piece-row {width: 100%;}
.three-piece-row .teaser-box {width: 100%; height: auto; margin: 0 0 10px;}

.tabbed-info {width: 100%; height: auto !important; margin: 0 0 10px;}
.list-box {width: 100%; margin: 0 0 10px; height: auto !important;}

.vacancies, .carousel  {display: none;}
.shortcuts {display: block;}

.breadcrumbs {margin: 10px 0 0; display: none;}
.struct-col-1 {float: none; width: 100%; margin: 0 0 10px;}
.struct-col-2 {float: none; width: 100%; margin: 0 0 10px;}
.struct-col-3 {float: none; width: 100%; margin: 0 0 10px;}
.struct-col-2-wide{float: none; width: 100%; margin: 0 0 10px;}

.page-functions .functions {float: none; clear: both; padding: 6px 0 0;}
.page-functions .functions li.listen {display: none;}
.page-functions .functions li.print a {margin: 0;}
.media-stripe {max-width: 30%;}

#subNavigation {display: none;}
.struct-col-1 h2.expanded + #subNavigation {display: block;}

#footer .legal {text-align: left;}
#footer .col-1, #footer .col-2, #footer .col-3 {width: auto;}


.top-news-kris {width: auto; height: auto;}
.top-news-kris li {height: auto;}
.top-news-kris li:last-child {margin-bottom: 0; border-bottom: 0;}



.top {position:fixed; right:15px; bottom:15px; width:50px; height:25px; padding-top:25px; line-height:25px; background:#333; color:#888;	display:block; text-transform: uppercase;text-decoration:none;	text-align:center; font-size:14px;-webkit-border-radius:10px;-moz-border-radius:10px; border-radius:10px; opacity: 0; z-index: 1000; display: block; 
	-webkit-transition: all 0.5s ease-out;  /* Safari 3.2+, Chrome */
       -moz-transition: all 0.5s ease-out;  /* Firefox 4-15 */
         -o-transition: all 0.5s ease-out;  /* Opera 10.5–12.00 */
            transition: all 0.5s ease-out;  /* Firefox 16+, Opera 12.50+ */}
            
.top:before {position:absolute; top:11px; left:14px; content:""; border-bottom:11px solid #888; border-left:11px solid transparent;	border-right:11px solid transparent;}

.top:hover {color:#eee;}

.top:hover:before {border-bottom-color:#eee;}
.opacity .top {opacity:.85; /*-webkit-transition: opacity 700ms linear; -moz-transition:opacity 700ms linear; transition:opacity 700ms linear;*/ z-index: 10; display: block;}

.opacity .top.hidden {opacity:0;}

.no-opacity .top.hidden {display:none;}

div.siteseeker_left{width: 90%;}

.selectCategory{width:190px;}
.jobDataGrid{-webkit-transform: scale(0.7);-moz-transform: scale(0.7);  -ms-transform: scale(0.7);  -o-transform: scale(0.7);  transform: scale(0.7);-webkit-transform-origin: top left;
-moz-transform-origin: top left;
-o-transform-origin: top left;
transform-origin: top left;}

.gotomobile{display:none;}
.mobile-view{display:none;}

.normal-view {position: absolute; top: 0; right: 0; width: 45%; background: #00A0C4; text-shadow:0 -1px 0 rgba(0, 0, 0, 0.75);}
.normal-view span {cursor: pointer;}
.normal-view:hover {color: #FFF; text-decoration: underline;}
.vacancies {display: block;}

.mob-1177-info {background-image: url(../images/mobile/mob-info-divider.png); background-repeat: no-repeat; background-position: 50% 100%;}
.mob-1177-info strong {display: block; color: #FFF; clear: both; padding: 2px 5px 1px; margin: 0 10px 10px; -webkit-border-radius: 3px; border-radius: 3px; border-bottom:1px solid #FFF;}
.mob-1177-info a {font-size:16px;}
.push-label label.input {-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;}
#quickNav li {-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;}
#quickNav li a {-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;}


/* döljer vänsterkolumnen */
.struct-col-1 {/*display: none;*/}


/* Vit bakgrund bakom tabbarna */
.tabbed-info ul {float:none; width:auto;}
.struct-col-1 h2.beam {padding:0 0 0 10px; background: #00A0C4; border-radius: 4px; cursor: pointer;}
.struct-col-1 h2.beam.expanded {border-radius: 4px 4px 0 0;}
.struct-col-1 h2.beam span {padding-left:30px; background: url(/images/mobile/icon-arrow-down2x.png) no-repeat 0% 50%; background-size: 23px auto; cursor: pointer;}
.struct-col-1 h2.general {display:none;}
.struct-col-1 h2.mobile {display:block;}


#jobbiFrame iframe {width: 580px;}

.tabs{width: auto;}

/*#main{padding: 0 0 20px;}*/

div.calendarlistingarea{width: 100%;}
.calendar{width: 95%;}

.struct-col-2 .two-piece-row {width: 100%;}
.struct-col-2 .two-piece-row .list-box {width: 100%; margin: 0 0 20px;}
.contact-card-1177 {padding: 0 0 0 54px; }
.contact-card-1177 span {background: #FFF; display:block; height:40px; line-height:40px;}
.my-healthcare-contacts .content {padding: 6px 6px 6px 10px;}

.mobile-opinion {position: absolute; top: 0; left: 0; width: 100%; text-align: center; line-height: 24px;}
#header {padding: 24px 0 0;}
.normal-view {top: 24px;}

