/*************************/
/* BUTTONS               */
/*************************/

.buttonToolbar 
{
    float: right;
	padding: 0 10px 6px 10px;
}

.ForumButtons a:hover {text-decoration:underline;}
.ForumButtons img {float:left;margin:0 15px 15px 0;}
.ForumButtons a {text-decoration:none;cursor:pointer;color:#333333;padding-left:14px;background-image:url(/templates/lg/images/bullet_orange.png);background-position:left;background-repeat:no-repeat;}
.ForumButtons a:hover {text-decoration:underline;}
.ForumButtons a {font-weight:bold;text-decoration:none;cursor:pointer;color:#cc6600;padding-left:14px;background-image:url(/templates/lg/images/bullet_orange.png);background-position:left;background-repeat:no-repeat;}



.forumInfo 
{
   float:right;
   width:10em;
   color:#666666;
   border-left:solid 1px #e8ebe0;
   border-bottom:solid 1px #e8ebe0;
   padding-left: 1em;
}

.forumInfo a
{
   color:#666666;
}


.forumTable 
{
	width: 100%;
}
.forumTable th.title
{
	width: 50%;
}
.forumTable th
{
	font-weight: normal;
	border-bottom: 1px solid #dcdcdc;
}
.forumTable th.replies, .forumTable td.replies
{
	text-align: right;
}
.forumTable td.info
{
	width: 20%;
}
.forumTable th
{
	padding: 0 8px;
}
.forumTable a 
{
}

.forumTable tr.even td, .forumTable tr.uneven td
{
	padding: 4px 8px;
}

.forumTable tr.even td
{
	background-color: #e8ebe0;
}

.forumTable tr.uneven td
{
}

.forumTable a:hover
{
	background-color: Transparent;
}

/*************************/
/* CAPTCHA               */
/*************************/

fieldset.captcha 
{
	margin-top: 1em;
	padding: 0;
	border: 0;
}
fieldset.captcha legend
{
	display: none;
}
fieldset.captcha label
{
	float: left;
	margin-right: 0.5em;
	margin-bottom: 0.7em;
    width: 115px;
}
fieldset.captcha img
{
    float:left;
    margin-bottom: 0.7em;
    padding-left: 0.5em;
}
fieldset.captcha input
{
	clear: both;
	width: 325px;
}
fieldset.captcha span
{
	/* validator */
	float: right;
}
#CurrentUserStatusArea a
{
    color:#CC6633;
}
