.clApproveButton
{
	float: right;
	clear: right;
}
.clApproveButton input
{
	font-size:0.846em;
}
.clDisapproveButton
{
	float: left;
	clear: left;
}
.clDisapproveButton input
{
	font-size:0.846em;
}
.dijitDialog, .dijitContentPane, .dijitDialogPaneContent, .dijitDialogTitleBar, #disapprovalReason, .pad5
{
	margin: 0;
	padding: 0;
}
.clPageVerificationToolbar 
{
	padding: 20px 0 20px 0;
}
#emailDialog_underlay 
{
	background-color: #ccc;
}
.contentPane 
{
	width: 500px;
	height: 200px;
	background-color: #ffffff;
	border: solid 1px #ccc;
}
.pad5 
{
	padding: 5px 5px 5px 5px;
}
.verificationFooterInfo {
	color:#666666;
	font-size:0.846em;
	padding:8px 0 0;
	text-align:right;
	width:100%;
}