body {
	margin-top: 7px;
	padding-bottom: 10px;
	background-color: #fdfdfd;
	

	font-family: Palatino, 'Times New Roman', 'Book Antiqua', serif; 
/*	text-rendering: optimizelegibility; */
	font-size: 17.5px;
	font-size: 18px\9;
	line-height: 27px;
	line-height: 28px\9;
	
	color: #000;
	/*
	font-family: 'Helvetica Neue Ultra Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 24px;
	font-weight: 300;
	color: #000;
	*/
}

ul.admin li {
	font-family: 'Avenir Next', 'Helvetica Neue Ultra Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

hr {
	display: block;
}

table ul {
	margin-left: 15px;
	margin-bottom: 0px;
	margin-top: 0px;
}

ul.indent {
	margin-left: 15px;
}

ul.ordered {
	list-style-type: none;
	margin-left: 30px;
	margin-bottom: 5px;
}

li.nobullet {
	list-style: none;
	background-image: none;
}

li.nobullet strong.itemType {
	display: inline-block;
	width: 25px;
	margin-left: -25px;
	font-weight: normal;
	text-align: center;
}


ul.ordered strong.itemType {
	display: inline-block;
	width: 25px;
	margin-left: -25px;
	font-weight: normal;
	text-align: center;
}

li {
	line-height: 24px;
	margin-bottom: 5px;
	margin-top: 5px;
}

table li {
	line-height: 20px;
	margin-bottom: 0;
	margin-top: 0;
}

td div.tableLine {
	white-space: nowrap;
	margin-left: 5px;
}

td li div.tableLine {
	margin-left: 0;
}


td div.tableFootnote {
	font-size: 11px;
}
p span.tab, p span.tabstop {
	display: inline-block;
	width: 15px;
	height: 5px;
}

td div.tableFootnote span.tab {
	display: inline-block;
	width: 15px;
	height: 5px;
}
td div.tableFootnote div.tableLine {
	white-space: nowrap;
	display: block;
	margin-left: 0;
}

td div.tableFootnote strong {
	text-indent: none;
}

td div.tableFootnote {
	margin-top: 5px;
	margin-bottom: 5px;
}

a.pageFootnoteItem {
	text-indent: 0;
}

fieldset.pageFootnote {
	display: none;
}

sup.hiddenNoteNumber {
	display: none;
}

td.footNotes div.tableLine {
	white-space: normal;
}

h4 div.tableLine {
	white-space: normal;
	display: inline;
}

td.footNotes div.note {
	margin-top: 10px;
}

td.footNotes div.note:first {
	margin-top: 0;
}

h1 {
	text-align: center;
	/*	text-transform: uppercase;*/
	font-variant:small-caps;
}

h2.overview {
	text-align: center;
/*	text-transform: uppercase;*/
	font-variant:small-caps;
	margin-top: 30px;
}

h1, h2, h3, h4, h5, h6, .btn, .overview, .treeview {
	font-family: 'Avenir Next', 'Helvetica Neue Ultra Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
	letter-spacing: 1px;
}

p.ingress {
	font-family: 'Helvetica Neue Ultra Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 15px;
	line-height: 23px;
}

footer {
	font-family: 'Helvetica Neue Ultra Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
}

ol.references li, p.popoverReference {
	font-family: 'Helvetica Neue Ultra Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 10px;
}

.introduction {
	
}

.popover-title {
	background-color: #fdfdfd;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.popover-content table {
	display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

#searchTitleBar, #modalMedTitle {
	cursor: pointer;
}

#searchResultsNavigation {
	position: fixed;
	top: 0;
	right: 22px;
	left: 20px;
	z-index: 3000;
	display: block;
	padding: 0;
	margin: 0;
	
}

#searchResultsNavigation .navbar-inner {
	padding: 0;
	width: 100%;
	min-height: 20px;
}

#searchResultsNavigation .navbar-inner .nav {
	margin: 0;
	float: none;
	position: auto;
}

#searchResultsNavigation .navbar-inner li {
	padding: 0;
}

#searchResultsNavigation li.goto {
	width: 20%;
	padding: 3px 5px 3px 5px;
	text-align: center;
	font-size: 11px;
	color: #fdfdfd;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#searchResultsNavigation li.search {
	width: 23%;
}
/*
#searchResultsNavigation li.titles {
	width: 24%;
}
*/
#searchResultsNavigation li.content {
	width: 23%;
}

#searchResultsNavigation li.medicines {
	width: 30%;
}

#searchResultsNavigation .navbar-inner li a {
	padding: 3px 5px 3px 5px;
	text-align: center;
	font-size: 11px;
	color: #fdfdfd;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	
}

.overview li.span4, .overview li.span2 {
	margin-bottom: 10px;
}

div.thumbnail {
	height: 90px;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
	/*
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-repeat: repeat-x;
	*/
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;

	/*
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
    *zoom: 1;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
       -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	*/		
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
	padding: 0;

	transition-property: box-shadow;

}

div.thumbnail.therapyLink {
	background-color: #f8f8f8;
	/*
	background-color: #D9EDF7;
	F2DEDE red
	DFF0D8 green
	D9EDF7 blue
	*/

}



div.thumbnail .caption {
	
	padding: 7px; 
}

div.thumbnail h5 {
	margin-top: 0;
	margin-bottom: 0px;
	font-size: 12px;
	font-weight: 600;
	
}

div.thumbnail .icon {
	font-size: 14px;
	float: right;
}

div.thumbnail p {
	font-size: 12px;
}

div.thumbnail a { 
    color: #404040;
    color: #000;
}

div.thumbnail .icon { 
    color: #404040;
    color: #000;
}

div.thumbnail a:hover { 
	text-decoration: none;
}

div.thumbnail:hover { 
    -webkit-box-shadow: 0 8px 10px #EBEBEB inset, 4px 35px 65px 5px rgba(242, 242, 242, 0.9) inset;;
       -moz-box-shadow: 0 8px 10px #EBEBEB inset, 4px 35px 65px 5px rgba(242, 242, 242, 0.9) inset;;
            box-shadow: 0 8px 10px #EBEBEB inset, 4px 35px 65px 5px rgba(242, 242, 242, 0.9) inset;
	transition-duration: 90ms;

}


p.authors, ul.authors {
	font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	/*
	font-style: italic;
		white-space: pre-wrap; */
}

div.authorsDisclosure {
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
}

ul.authors {
	text-align: left;
	font-weight: normal;
}

div.tabStop {
	margin: 5px 0 5px 25px; 
}

li.tabStop {
	padding-left: 15px; 
	list-style: none; 
	background-image: none;
}

a, ol.references li {

	-ms-word-break: break-all;
	     word-break: break-all;

	     /* Non standard for webkit */
	     word-break: break-word;

	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
	        hyphens: auto;	
			
}

.not-available {
	text-decoration: line-through;
}

/* Blog */

.blog header, .blog footer, .blog section, .blog article {
	display: block;
}


.blog #by {
	font-style: italic;
	margin-right: 5px;
	font-size: 28px;
}
.blog #caption {
	position: absolute;
	font-size: 24px;
	margin: -135px 0 0 70px;
}
.blog #path {
	color: #b53131;
}
.blog .date {
	font-style: italic;
	line-height: 43px;
	text-align: center;
	display: block;
}

.blog p {
	margin-bottom: 10px;
}

.blog .post header {
	margin-bottom: 10px;
}
.blog .post .body p:first-child {
	margin-top: 0;
}
.blog .post .body p:last-child {
	margin-bottom: 0;
}
.blog .post {
	margin-bottom: 30px;
}
.blog .post:last-child {
  margin-bottom: 10px;
}
.blog .post p {
  margin: 10px 0;
}
.blog .post .more {
  margin-top: -10px;
  margin-right: 30px;
  font-style: italic;
  text-align: right;
}
.blog .more a {
  text-decoration: none;
}
.blog .more a:hover { text-decoration: underline }

/* */

p {
	margin: 0;
}



p.normal {
	margin-bottom: 10px;
}


p.indent {
	text-indent: 30px;
	margin: 0;
}

.facts p.indent {
	text-indent: 15px;
	margin: 0;
}

span.updated.active {
	color: red;
}

a.footnote {
	font-size: x-small; 
	vertical-align:top;
}

button.close {
	color: #000;
	opacity: 1;
	font-size: 30px;
	vertical-align: top;
	height: 40px;
	line-height: 40px;
	margin-top: -15px;
	margin-right: -5px;
}

a.toggleSection {
	display: block;
	padding: 7px;
	border: solid 1px #e5e5e5;
	margin-top: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius:  5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;	
}

a.toggleSection:hover {
	text-decoration: none;
}

div.section {
	display: none;
	padding-left: 8px;
	padding-right: 8px;
}

h4.section-header {
	margin: 0;
}

#modalMed button.close {
	margin-top: -10px;
	margin-right: 0px;
}

#searchForm {
    position: relative;
}
  
#searchForm .search-query {
    padding-left: 29px;
    padding-right: 48px;
}

#searchForm .icon-search {
    position: absolute;
    top: 7px;
    left: 11px;
}

#search {
/*	min-height: 20px\9; */
	-webkit-appearance: none;
}

#performSearch {
	position: absolute;
	top: 4px;
	right: 4px;
	display: none;
	font-size: 22px;
	color: #777;
	width: 22px;
	height: 22px;
	text-align: center;
}

#resetSearch {
	position: absolute;
	top: 4px;
	right: 26px;
	display: none;
	font-size: 22px;
	color: #777;
	width: 22px;
	height: 22px;
	text-align: center;
}

#resetSearch:hover, #performSearch:hover {
	color: #000;
	text-decoration: none;
}

.figureImage {
	background-color: #fff;
	border-top: solid 1px #e3e3e3;
	margin-top: 10px;
	padding-top: 10px;
}

.staticImage {

}


/*
a.index {
color: blue;
}
*/

table {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
/*	font-weight: 300; */
	font-size: 14px;
	line-height: 22px;
	
}

div.facts, div.wide, div.therapy-recommendations, div.narrow {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

table.facts {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #f5f5f5;
	max-width: none;
}
		

table.therapy-recommendations {
	background-color: #f5f5f5;
	margin-top: 10px;
	margin-bottom: 10px;
	max-width: none;
}

table.wide {
	background-color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
	max-width: none;
}

table.narrow {
	background-color: #fff;	
	max-width: none;
}

table.framed div.tableLine {
	white-space: normal;
	display: inline;
}

/*
table li {
line-height: 20px;
}
		
td p {
margin: 0;
padding: 0;
}
*/

li small {
	font-size: 12px;
}

div.figure {
	/*
	padding: 10px;
	margin: 10px 0 10px 0;
	border: solid 1px black;
	*/
	margin: 10px 0 10px 0;
	background-color: #fff;
	text-align: left;
	clear: both;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 13.5px;
	line-height: 20px;
}

div.figure ol, div.figure ul {
	text-align: left;
}

a.factsLink, a.figureLink, a.tableLink, a.pageLink {
	text-indent: 0;
}

a.inlineReference {
	text-indent: 0;
}

a.inlineGenerica.text {
	text-decoration: none;
	color: #000;
	border-bottom: dotted 1px #000;
}

span.updated.active > a.inlineGenerica.text {
	text-decoration: none;
	color: red;
	border-bottom: dotted 1px red;
}

/*
@media (min-width: 768px) {
	a.inlineGenerica.text {
		border-bottom: dotted 1px black;
		color: black;
	}
}
*/
/*
a.inlineGenerica.text {
	text-decoration: none;
	color: black;
}
@media (min-width: 768px) {
	p:hover a.inlineGenerica.text, td:hover a.inlineGenerica.text, a.inlineGenerica.text:hover {
		border-bottom: dotted 1px black;
		color: black;
	}
}
*/

/*
#sideMenu::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 10px;
}

#sideMenu::-webkit-scrollbar-track {
	background-color: rgba(220, 220, 220, .6);
	border-radius: 4px;
}
#sideMenu::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(156, 156, 156, .6);
}
*/

#sideMenu {
	display: block;
	position: absolute;
	top: 90px; 
	left: 0px; 
	right: 0px;
	bottom: 0; 
	overflow: hidden;
	border: none;
	padding: 0;
	
	/*
	position: absolute; 
	bottom: 0px; 
	top: 100px; 
	right: 0px; 
	left: 0px; 
	
	overflow-y: auto;
	overflow-x: hidden;
	*/
}

#pdf {
	position: fixed;
	top: 35px;
	right: 7px;
	margin: 0;
	z-index: 12;
	width: 11px;
}

#gotoTop {
	position: fixed;
	top: 3px;
	right: 3px;
	margin: 0;
	z-index: 4000;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

#fullscreen {
	position: fixed;
	top: 7px;
	right: 7px;
	margin: 0;
	z-index: 12;
	width: 11px;
}

#normalscreen {
	position: fixed;
	top: 7px;
	right: 7px;
	display: none;
	margin: 0;
	z-index: 12;
	width: 11px;
}

#settings {
	position: fixed;
	top: 63px;
	right: 7px;
	margin: 0;
	z-index: 13;
	width: 11px;
}

.settingsBox {
	position: fixed;
	top: 36px !important;
	margin-left: -10px;
}

.settings {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#sideContainer {
	height: 100%;
	z-index: 10;
}

#mainContainer {
	z-index: 11;
	position: inherit;
	padding-left: 10px;
	background-color: #fdfdfd;
}

#sideBar {
	display: none;
	font-family: 'Avenir Next', 'Helvetica Neue Ultra Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	list-style-type: none;
	margin-left: 0;
}

#sideBar ul {
	list-style-type: none;
	margin-left: 25px;
}

.sideBarNavigation {
	background-color: #fdfdfd;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	/*bottom: 0;*/
	padding: 0;
	border: 0;
	margin: 0;
	overflow-y: auto;
	overflow-x: hidden;	

    -webkit-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.065);
       -moz-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.065);
            box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.065);

/*
    -webkit-box-shadow: 0 -150px 150px rgba(0, 0, 0, 0.035);
       -moz-box-shadow: 0 -150px 150px rgba(0, 0, 0, 0.035);
            box-shadow: 0 -150px 150px rgba(0, 0, 0, 0.035);
*/
}
.sideBarNavigation a.titleItem, .sideBarNavigation a.titleItem:hover, .sideBarNavigation a.titleItem.ui-state-focus, .sideBarNavigation a.menuBack, .sideBarNavigation a.menuBack:hover, .sideBarNavigation a.menuBack.ui-state-focus {
	font-weight: 600;
	font-variant:small-caps;

	font-weight: bold\9;
	font-variant: uppercase\9;
}

.sideBarNavigation a.titleItem .icon, .sideBarNavigation a.titleItem:hover .icon, .sideBarNavigation a.titleItem.ui-state-focus .icon, .sideBarNavigation a.menuBack .icon, .sideBarNavigation a.menuBack:hover .icon, .sideBarNavigation a.menuBack.ui-state-focus .icon {
	font-variant: normal;
}
.sideBarNavigation a.titleItem.background {
	font-weight: 300;
	text-align: center;
}

.sideBarNavigation .icon-angle-down, .sideBarNavigation .icon-double-angle-up {
	font-size: 16px; 
	margin-top: 1px;
}

#searchResults {
	display: none;
	top: 85px; 
	bottom: 10px; 
	left: auto;
	z-index: 15;
}

#searchContainer {
	z-index: 15;
	background-color: transparent;
	margin-bottom: 0;
}
#searchContainer .navbar-inner {
	background-color: transparent;
	border: none;
	padding: 0;
}

div#searchMask {
	display: none; 
	background-color: #fdfdfd; 
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0; 
	z-index: 9;	
    opacity: 0.8;
    filter: alpha(opacity=80);
	
}


#searchResultsArrow {
	left: 40px;
}

#searchResultsContainer {
	position: absolute; 
	top: 40px; 
	bottom: 0; 
	left: 0; 
	right: 0; 
	overflow-y: auto;
}


.ui-menu strong {
	font-weight: 600;
}
	

#titleSearchResultsList, #contentSearchResultsList, #medicineSearchResultsList {
	border: 0;
/*	width: 30%;*/
	padding: 0;
	position: absolute;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	display: block;
	bottom: 0px;
	top: 30px;
	border-top: 1px;
	border-bottom: 1px;
}

#contentSearchResultsList {
	width: 57%;
}

#medicineSearchResultsList {
	width: 40%;
}
#titleSearchResults, #contentSearchResults, #medicineSearchResults {
	margin-left: 5px;
}

.highlight {
	background-color: #7DC0FA;
	color: #000;
	text-shadow: none;
	padding: 0;
	-webkit-border-radius: 	4px;
	-moz-border-radius: 	4px;
	-ms-border-radius: 		4px;
	-o-border-radius: 		4px;
	border-radius: 			4px;
	
}
.modal {
	top: 10px;
	bottom: 10px;
}

.navbar-inner {
	/*box-shadow: -1px 0 0 0 #D2D2D2, -1px 0 0 0 #E6E6E6, 1px 0 0 0 #D2D2D2, 2px 0 0 0 #E6E6E6, 0 -1px 0 0 #E8E8E8, 0 2px 0 0 rgba(241, 241, 241, 0.3), 0 1px 0 0 #B1B1B1;*/
	background-color: #fff;
	background-image: none;
	background-color: #fdfdfd;
	
}

.navbar .brand {
	font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
/*	color: #18134b; */
	text-transform: uppercase;
/*	font-variant:small-caps;*/
	display: block;
	float: none;
	text-align: center;
	white-space: nowrap;
	font-size: 16px;
	letter-spacing: 1px;
	margin-left: 0;
	padding-left: 0;
	padding-right: 0;
	color: #000;
}
.hero-unit {
	padding: 40px 20px 40px 20px;
	text-align: center;
	color: #fff;
	background-color: #333333;
}

.hero-unit a, .hero-unit a:hover {
	color: #fff;
}

.popover-content ul.ui-menu {
	margin-bottom: 10px;
	border: none;
	padding: 0;
}

#loading {
	display: none;
	position: fixed;
	top: 100px;
	left: 50%;
	width: 260px;
	margin-left: -151px;
	padding: 40px 20px 40px 20px;
}

.boxSearchPopover {
	z-index: 3001;
}

#modalMed {
	display: none; 
	position: fixed; 
	z-index: 3000; 
	border: solid 1px #d4d4d4; 
	background-color: #fdfdfd; 
	padding: 0px; 
	top: 85px; 
	bottom: 10px; 
	left: 50%;
	width: 940px;
	margin-left: -470px;
	margin-top: 0;

	-webkit-border-radius: 	4px;
	-moz-border-radius: 	4px;
	-ms-border-radius: 		4px;
	-o-border-radius: 		4px;
	border-radius: 			4px;
	
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
       -moz-background-clip: padding;
            background-clip: padding-box;
	
}

#modalMedTitle {
	padding-left: 14px;
	padding-top: 3px;
	font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
    padding: 5px 14px;	
}

#modalMed #close {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 30px;
	z-index: 110;
	padding-right: 8px;
	padding-top: 3px;
	background-color: #fdfdfd;
	border: none;
	border-bottom: solid 1px #d4d4d4;
	/*
	-webkit-border-radius: 	4px;
	-moz-border-radius: 	4px;
	-ms-border-radius: 		4px;
	-o-border-radius: 		4px;
	border-radius: 			4px;
	*/
	-webkit-border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;	
}

#medListToggler {
	display: none;
}

ul#medList {
	position: absolute; 
/*	background-color: #E7ECF1; */
	background-color: #fdfdfd; 
	left: 0; 
	top: 34px; 
	width: 310px; 
	border: none;
/*	border-right: solid 1px #B4B4B4; */
	bottom: 0; 
	overflow: hidden; 
	overflow-y: auto;	
	-webkit-overflow-scrolling: touch;
	z-index: 100;
	-webkit-border-radius: 	5px 0 0 5px;
	-moz-border-radius: 	5px 0 0 5px;
	-ms-border-radius: 		5px 0 0 5px;
	-o-border-radius: 		5px 0 0 5px;
	border-radius: 			5px 0 0 5px;
	margin: 0;
	
}

ul#medList li {
	min-height: 50px;
}
div#medDisplay {
	position: absolute; 
	left: 312px; 
	top: 34px; 
	bottom: 0;
	right: 0; 
	overflow: scroll; 
	-webkit-overflow-scrolling: touch;
	padding: 2px;	
	z-index: 10;
	-webkit-border-radius: 	0 5px 5px 0;
	-moz-border-radius: 	0 5px 5px 0;
	-ms-border-radius: 		0 5px 5px 0;
	-o-border-radius: 		0 5px 5px 0;
	border-radius: 			0 5px 5px 0;
}

.narcImage {
	padding-top: 8px;
	float: left;
	width: 22px;
}
.narcImage img {
	width: 21px;
	height: 21px;
}
/*
.fassImage {
	width: 80px;
}
*/

.fassImage img {
	width: 120px;
	height: 35px;
}

div#medDisplay p {
	margin-top: 1em;
	margin-bottom: 1em;
}


div.medInfo {
	padding: 10px;
	-webkit-border-radius: 	4px;
	-moz-border-radius: 	4px;
	-ms-border-radius: 		4px;
	-o-border-radius: 		4px;
	border-radius: 			4px;
	margin-bottom: 5px;
	border: 1px solid #d4d4d4;	

    background-color: #fff;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
	    background-color: #fafafa;
	/*
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
    *zoom: 1;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
       -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	*/
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	

}

div.medInfo h1, div.medInfo h2, div.medInfo h3, div.medInfo h4, div.medInfo h5 {
	padding: 7px 0 7px 0;
	margin: 0;
	line-height: 1;
}

div.medImages {
	float: right;
}

div.medImages img.medImage {
	max-width: 100px;
	display: block;
	cursor: pointer;
	margin-bottom: 5px;
}

#medDisplay .accordion {
	margin-top: 5px;
}

#medDisplay .accordion-heading {
	background-color: #fafafa;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
}

a.accordion-toggle {
	color: #404040;
	color: #000;
}

a.accordion-toggle:hover {
	color: #000;
	text-decoration: none;
	background-color: #fff;
}

.accordion-inner {
	background-color: #fff;
}

.accordion-body.collapse {

	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	
}

/*
div.medHeadLines {
	background-color: #eee;
	padding: 10px;
	-webkit-border-radius: 	5px;
	-moz-border-radius: 	5px;
	-ms-border-radius: 		5px;
	-o-border-radius: 		5px;
	border-radius: 			5px;
	margin-top: 10px;
}


h2.medHeadLine {
	padding: 0;
	margin: 0;
	cursor: pointer;
	background: url(../images/blue.gif) no-repeat 4px 4px;
	padding-left: 30px;
	padding-bottom: 5px;
	margin-bottom: 2px;
	border-bottom: 2px dashed #3F6D77;
}
h2.medHeadLineOpen {
	background: url(../images/blue-90.gif) no-repeat 4px 4px;
}

h3.medHeadLine {
	padding: 3px ;
	margin: 0;
	cursor: pointer;
	background: url(../images/green.gif) no-repeat 4px 7px;
	padding-left: 30px;
}
h3.medHeadLineOpen {
	background: url(../images/green-90.gif) no-repeat 4px 7px;
}
*/
div.medContent {
	display: block;
	display: none;
	padding: 0;
	margin: 0 0 0 25px;
	padding: 3px 5px 3px 5px;
	-webkit-border-radius: 	5px;
	-moz-border-radius: 	5px;
	-ms-border-radius: 		5px;
	-o-border-radius: 		5px;
	border-radius: 			5px;
	
	background-color: #fdfdfd;
}

div#mask {
	display: none; 
	background-color: transparent; 
	background-color: #202020; 
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0; 
	z-index: 2999;	

	display: none; 
	background-color: #fdfdfd; 
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0; 
	z-index: 2999;	
    opacity: 0.8;
    filter: alpha(opacity=80);

}

ul#authorsRegistryLetterIndex {
	list-style-type: none; 
	margin: 0px; 
	padding: 0;
	list-style-position: inside; 
	font-family: Helvetica, Arial, sans;
}

ul.authorsByLetter {
	list-style-type: none; 
	margin: 10px 0 10px 0; 
	list-style-position: inside; 
}

ul.authorsByLetter li {
	margin-bottom: 20px;
}

ul.authorsByLetter li ul {
	list-style-type: none; 
	margin: 0px; 
	list-style-position: inside; 
}

ul.authorsByLetter li ul li {
	margin: 0px; 
}

/* Large desktop */
@media (min-width: 1200px) {
	#sideMenu {
		position: absolute; bottom: 0px; top: 90px; right: 0px; left: 0px; overflow: hidden;	
	}

	#modalMed {
		width: 1170px;
		margin-left: -585px;
		margin-top: 0;
	}
	
	#titleSearchResults, #contentSearchResults, #medicineSearchResults {
		margin-left: 10px;
	}
	

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	#sideMenu {
		position: absolute; bottom: 0px; top: 90px; right: 0px; left: 0px; overflow: hidden;	
	}

	div.thumbnail {
		height: 125px;
	}

	#modalMed {
		width: 724px;
		margin-left: -363px;
		margin-top: 0;
	}

	#titleSearchResults, #contentSearchResults, #medicineSearchResults {
		margin-left: 5px;
	}

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {


	#settings {
		position: fixed;
		top: 27px;
		right: 3px;
		margin: 0;
		z-index: 4000;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
		-moz-opacity:0.5;
		-khtml-opacity: 0.5;
		opacity: 0.5;
		height: 16px;
		padding-top: 2px;
		padding-left: 6px;
		padding-right: 6px;
	}

	.settingsBox {
		position: fixed;
		top: 1px !important;
		margin-left: -10px;
	}


	#performSearch {
		top: 3px;
	}

	#resetSearch {
		top: 3px;
	}

	body {
		font-family: 'Helvetica Neue Ultra Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 16px;
		line-height: 24px;
		font-weight: 300;
		color: #000;
	}

	p.ingress {
		font-family: 'Helvetica Neue Ultra Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
	}
	

	h1 {
	  font-size: 34px;
	  line-height: 40px;
	  font-size: 28px;
	  line-height: 40px;
	  overflow: auto;
      white-space: pre-wrap; /* css-3 */
      white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
      white-space: -pre-wrap; /* Opera 4-6 */
      white-space: -o-pre-wrap; /* Opera 7 */
      word-wrap: break-word; /* Internet Explorer 5.5+ */
   }

	h2 {
	  font-size: 22px;
	  line-height: 33px;
	}

	h3 {
	  font-size: 18px;
	  line-height: 27px;
	}

	h4 {
	  font-size: 14px;
	  line-height: 20px;
	}

	h5 {
	  font-size: 12px;
	  line-height: 20px;
	}

	h6 {
	  font-size: 12px;
	  line-height: 20px;
	}

	h1, h2, h3, h4, h5, h6 {

		-ms-word-break: break-all;
		     word-break: break-all;

		     /* Non standard for webkit */
		     word-break: break-word;

		-webkit-hyphens: auto;
		   -moz-hyphens: auto;
		        hyphens: auto;	
			
	}

	#mainContainer {
		padding-left: 0;
	}

	.popover-content {
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
	}

	div.thumbnail {
		height: auto;
	}
	
	/*
	a.inlineGenerica.text {
		border-bottom: dotted 1px black;
		color: #000;
	}
	*/
	
	#toggleNavigation {
		margin-bottom: 20px;
	}
	
	#sideContainer.hidden {
		display: block;
		visibility: visible;
	}
	
	#sideMenu {
		position: static;
		display: none;
	}

	#search {
		font-size: 16.5px;
	}


	#searchResults {
		position: absolute;
		display: none;
		top: 85px; 
		bottom: auto; 
		z-index: 1009; 
		margin-left: 0; 
		width: auto;
		right: 20px;
		left: 20px;
	}

	#searchResultsContainer {
		position: static; 
		top: auto; 
		bottom: auto; 
		left: auto; 
		right: auto; 
		overflow-y: auto;
		margin-bottom: 10px;
	}

	#titleSearchResults, #contentSearchResults, #medicineSearchResults {
		margin-left: 0px;
		position: static;
		display: block;
		float: none;
	}

	#titleSearchResultsList, #contentSearchResultsList, #medicineSearchResultsList {
		position: static;
		margin-bottom: 10px;
		display: block;
		float: none;
		width: auto;
	}

	.sideBarNavigation {
		background-color: #fdfdfd;
		position: static;
		top: 0px;
		left: 0px;
		right: 0px;
		padding: 0;
		border: 0;
		margin: 0;
	}


	#modalMed {
		position: absolute;
		right: 10px;
		left: 10px;
		bottom: auto;
		width: auto;
		margin: 0;
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
	}

	#modalMed #close {

		border: solid 1px #d4d4d4;
		-webkit-border-radius: 	4px;
		-moz-border-radius: 	4px;
		-ms-border-radius: 		4px;
		-o-border-radius: 		4px;
		border-radius: 			4px;

		clear: left;
		position: static;
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 10px;
		width: auto;
	}
	
	#medListToggler {
		display: block;
		position: static;
	}
	
	ul#medList {
		float: none;
		display: none;
		clear: left;
		position: static; 
	/*	background-color: #E7ECF1; */
		background-color: #fdfdfd; 
/*		width: 100%; */
		width: auto;
		border: none;
		bottom: auto; 
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch; 
		/*overflow-y: auto;	*/
		z-index: 100;
		-webkit-border-radius: 	5px 0 0 5px;
		-moz-border-radius: 	5px 0 0 5px;
		-ms-border-radius: 		5px 0 0 5px;
		-o-border-radius: 		5px 0 0 5px;
		border-radius: 			5px 0 0 5px;
		margin: 10px 10px 0 10px;
		padding: 0;
	}
	ul#medList li {
		float: none;
	}

	div#medDisplay {
		position: static; 
		clear: left;
		left: 0; 
		top: auto; 
		bottom: auto;
		right: 0; 
		/*
		overflow: hidden; 
		overflow-y: auto; 
		*/
		
		padding: 10px;	
		z-index: 10;
		-webkit-border-radius: 	0 5px 5px 0;
		-moz-border-radius: 	0 5px 5px 0;
		-ms-border-radius: 		0 5px 5px 0;
		-o-border-radius: 		0 5px 5px 0;
		border-radius: 			0 5px 5px 0;
		margin: 0;
	}
	

	div.figure {
		padding: 10px 0 10px 0;
		margin: 10px -20px 10px -20px;
		border: none;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		border-top: solid 1px #e3e3e3;
		border-bottom: solid 1px #e3e3e3;
	}
	div.figure h4 {
		padding-left: 10px;
		padding-right: 10px;
	}
	.figureText {
		padding-left: 10px;
		padding-right: 10px;
	}

	div.popover-content div.figure {
		margin: 10px 0px 10px 0px;
	}

}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	#sideMenu {
		position: static;
	}
}