body {
	margin-top: 7px;
	padding-bottom: 10px;
	background-color: #fdfdfd;
	font-family: Palatino, 'Times New Roman', 'Book Antiqua', serif; 
	text-rendering: optimizelegibility;
	font-size: 17.5px;
	font-size: 18px\9;
	line-height: 27px;
	line-height: 28px\9;
	color: #000;
}

h1 {
	text-align: center;
	font-variant:small-caps;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Avenir Next', 'Helvetica Neue Ultra Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
	letter-spacing: 1px;
	margin-top: 5px;
	margin-bottom: 5px;
}

footer {
	font-family: 'Helvetica Neue Ultra Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
}

#searchResults, #searchResultsNavigation, #toggleNavigation, hr, #loading, #modalMed {
	display: none;
}

.navbar .brand {
	font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	display: block;
	float: none;
	text-align: center;
	white-space: nowrap;
	font-size: 16px;
	letter-spacing: 1px;
	margin-left: 0;
	padding-left: 0;
	padding-right: 0;
	color: #000;
}
a {
    text-decoration: none;
}

.pull-right {
	float: right;
}

.span4 {
	width: 370px;
	margin-left: 30px;
}


.offset4 {
	margin-left: 400px;
}

.affix {
  position: fixed;
}

#sideContainer {
	height: 100%;
	z-index: 10;
	overflow-y: auto;
}



@media (max-width: 767px) {
  body {
    padding-right: 20px;
    padding-left: 20px;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-right: -20px;
    margin-left: -20px;
  }
  .container-fluid {
    padding: 0;
  }
  .dl-horizontal dt {
    float: none;
    width: auto;
    clear: none;
    text-align: left;
  }
  .dl-horizontal dd {
    margin-left: 0;
  }
  .container {
    width: auto;
  }
  .row-fluid {
    width: 100%;
  }
  .row,
  .thumbnails {
    margin-left: 0;
  }
  .thumbnails > li {
    float: none;
    margin-left: 0;
  }
  [class*="span"],
  .row-fluid [class*="span"] {
    display: block;
    float: none;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .span12,
  .row-fluid .span12 {
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .input-large,
  .input-xlarge,
  .input-xxlarge,
  input[class*="span"],
  select[class*="span"],
  textarea[class*="span"],
  .uneditable-input {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .input-prepend input,
  .input-append input,
  .input-prepend input[class*="span"],
  .input-append input[class*="span"] {
    display: inline-block;
    width: auto;
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 0;
  }
  .modal {
    position: fixed;
    top: 20px;
    right: 20px;
    left: 20px;
    width: auto;
    margin: 0;
  }
  .modal.fade.in {
    top: auto;
  }
  .affix {
	  position: static;
  }
}
