body {
	padding: 0;
	margin: 0;
	background-color: #fff;
	font-size: 12pt;
}

.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
	display: block;
	float: none;
	position: static;
	max-width: 100%;
}


.table, .table.pull-right {
	position: inherit;
	max-width: auto;
	width: auto;
	page-break-inside: avoid;
}

table.facts, table.facts td {
	background-color: #fff !important;
}

.table.pull-right {
	margin-left: 10px;
}

.table.span4 {
	width: 40%;
}

#sideContainer {
	display: none;
}

#mainContainer {
	display: block;
	float: none;
	width: 80%;
	padding: 0;
	margin: 0 auto 0 auto;
	background-color: #fff;
}

div.figure {
	page-break-inside: avoid;
	
	font-size: 12px;
	line-height: 16px;

	margin: 10px auto 10px auto;
	page-break-inside: avoid;
	border: none;
	border-top: solid 1px #333;
	border-bottom: solid 1px #333;
	
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#searchResults {
	display: none;
	visibility: hidden;
}

div.figure img {
	width: 80%;
}

h2.overview {
	display: none;
}

ul#overview {
	display: none;
}

table {
	margin: 10px 0 10px 0;
}

.pageLink {
	display: none;
}

a.inlineGenerica.text {
	border: none;
	color: #333;
}

#fullscreen {
	display: none;
}

#pdf {
	display: none;
}

.btn, .btn:hover {
	border: 0;
	color: #333;
	background-color: transparent;
	font-family: inherit; 
	/*text-rendering: optimizelegibility;*/
	font-size: inherit;
	line-height: inherit;
	padding: 0;
	margin: 0;
	font-weight: inherit;
	letter-spacing: inherit;
	text-align: inherit;
	vertical-align: inherit;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	
