		<script src="/cms/javascripts/scripts.min.js"></script>

<!--
		<script src="/cms/javascripts/jquery.min.js"></script>
		<script src="/cms/javascripts/bootstrap.js"></script>
		<script src="/cms/javascripts/picturefill.js"></script>
		<script src="/cms/javascripts/jquery.simple-dtpicker.js"></script>
		<script src="/cms/javascripts/tinymce/tinymce.min.js"></script>
-->
	</body>
</html>