<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%=title%></title>

	<link href="/cms/stylesheets/styles.min.css" rel="stylesheet">

<!--
	<link href="/cms/stylesheets/theme.css" rel="stylesheet">
	<link href="/cms/stylesheets/dashboard.css" rel="stylesheet">
	<link href="/cms/stylesheets/image-picker.css" rel="stylesheet">
	<link href="/cms/stylesheets/jsondiff.css" rel="stylesheet">
	<link href="/cms/stylesheets/jquery.simple-dtpicker.css" rel="stylesheet">
	<link href="/cms/stylesheets/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="/cms/stylesheets/style.css" rel="stylesheet">
-->

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
