<!DOCTYPE html>
<html>
	<head>
		<title>API | Läkemedelsboken</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Sökresultat">
		<meta name="author" content="Läkemedelsverket">
		
		<link href="/css/styles.min.css" rel="stylesheet">

		<!--[if lt IE 9]>
			<link rel="stylesheet" type="text/css" href="/css/jquery.ui.ie.min.css"/>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
			
		<link rel="stylesheet" type="text/css" href="/css/<%=version%>/lb.min.css">
		<link rel="stylesheet" type="text/css" href="/css/<%=version%>/print.min.css" media="print">

		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
		<noscript>
			<link rel="stylesheet" type="text/css" href="/css/<%=version%>/noscript.min.css" media="print">
		</noscript>
	</head>

	<body>
		<div class="container" id="content">
			<div class="row">
				<div id="sideContainer" class="span12">
					<div id="searchContainer" class="navbar">
						<div class="navbar-inner" style="text-align: center; padding: 0; margin: 0;">
							<a class="brand" href="/">Läkemedelsboken 2014</a>
						</div>
					</div>
				</div>
				<div style="clear: both;">
				<div id="mainContainer" class="span10 offset1">
					<div id="main">
						<h1>Webbtjänster/API</h1>
						<p class="normal">
							Läkemedelsboken har ett öppet API där man fritt kan göra 100 anrop per timma från en ip-adress.
						</p>
						<p class="normal">
							Vill du ha möjlighet att göra fler anrop går det också bra, skicka ett mejl till <a href="mailto:staffan@staffanliving.se?subject=Nyckel till API">staffan@staffanliving.se</a> så ordnar vi det.
						</p>
						<p class="normal">
							Läkemedelsboken.se har öppen källkod, du hittar den bakomliggande koden på <a href="https://github.com/lakemedelsboken/LB">GitHub</a>.
						</p>
						<h2>Översikt</h2>
						<p>
							Följande går att göra med nuvarande API:
						</p>
						<ul>
							<li><a href="#contentSearch">Söka efter innehåll i Läkemedelsboken</a></li>
							<li><a href="#medicine">Söka efter läkemedel och ATC-rubriker</a></li>
							<li><a href="#atc">Hämta information från vårt träd med ATC-koder och läkemedel</a></li>
							<!--<li><a href="#titles">Söka efter rubriker i Läkemedelsboken</a></li>-->
							<li><a href="#boxes">Söka efter innehåll i informationsrutor, dvs. terapirekommendationer, faktarutor och tabeller</a></li>
							<li><a href="#genericas">Skicka in html och få generiska preparatnamn uppmärkta</a></li>
							<li><a href="#deeplinking">Länka direkt till en del av Läkemedelsbokens webbplats</a></li>
						</ul>
						<h2>Beskrivningar</h2>
						<h3 id="contentSearch">Sök efter innehåll i Läkemedelsboken</h3>
							<h4>Protokoll:</strong></h4>
							<pre>HTTP GET</pre>
							<h4>URL:</strong></h4>
							<pre>http://www.lakemedelsboken.se/api/v1/contentsearch?search={söktermer}&apikey={nyckel}</pre>
							<h4>Söktermer:</h4>
							<pre>
<a href="http://www.lakemedelsboken.se/api/v1/contentsearch?search=terapi%20hjärtsvikt&apikey={nyckel}" target="_blank">terapi hjärtsvikt</a> //Mellanslag för att matcha flera ord, max 6 stycken

<a href="http://www.lakemedelsboken.se/api/v1/contentsearch?search=terapi%20hjärtsvikt&apikey={nyckel}" target="_blank">"tablett alvedon"</a> //Inom citationstecken för att söka efter hela meningen</pre>
							
							<h4 id="contentAnswer">Svar:</h4>
							<p class="normal">Svaret kommer som JSON eller JSONP i form av en array, <code>callback=</code> som parameter till anropet gör att svaret returneras som JSONP. Svaret är sorterat med bästa resultat först. Varje objekt i svaret följer nedanstående definition.</p>
							<pre>
{
  //Titel
  &quot;title&quot;: &quot;Terapirekommendationer &#8211; Akut behandling av hj&#228;rtsvikt&quot;,

  //Hierarkisk nivå i kapitlet
  &quot;level&quot;: 3,

  //Unikt id för rubriken
  &quot;id&quot;: &quot;e2_50&quot;,

  //Närmsta förälders id i hierarkin
  &quot;parentId&quot;: &quot;e2_49&quot;,

  //Kapitlets url
  &quot;chapter&quot;: &quot;e2_hja_hjartsvikt_2013fm10.html&quot;,

  //Typ av rubrik, kan vara: 
  // "header" för en klassisk rubrik
  // "therapyRecommendations" för en terapirekommendation
  // "infoTable" för en tabell
  // "facts" för en faktaruta
  // "figure" för en figur
  &quot;type&quot;: &quot;therapyRecommendations&quot;,

  //Namn på de rubriker från hierarkin som leder fram till denna rubrik, avdelas med " && "
  &quot;titlePath&quot;: &quot;Hj&#228;rtsvikt &amp;&amp; Akut behandling &amp;&amp; Terapirekommendationer &#8211; Akut behandling av hj&#228;rtsvikt&quot;,

  //Sökinnehållet skickas inte med vid en sökning för att spara bandbredd och tid
  &quot;content&quot;: &quot;&quot;,

  //Produktinnehållet skickas inte med vid en sökning för att spara bandbredd och tid
  &quot;products&quot;: &quot;&quot;,

  //Indikerar om det finns underrubriker till denna rubrik, denna returneras inte om det inte finns underrubriker
  &quot;hasChildren&quot;: true

  //Sökmotorns poäng för detta resultat, ju lägre desto bättre
  &quot;score&quot;: 0.000001,

  //Titeln med html spans som omger eventuella perfekta matchningar, HL = highlight
  &quot;title_HL&quot;: &quot;&lt;span class=\&quot;highlight\&quot;&gt;Terapi&lt;/span&gt;rekommendationer &#8211; Akut behandling av &lt;span class=\&quot;highlight\&quot;&gt;hj&#228;rtsvikt&lt;/span&gt;&quot;,

  //Titelhierarki med html spans som omger eventuella perfekta matchningar, HL = highlight
  &quot;titlePath_HL&quot;: &quot;&lt;span class=\&quot;highlight\&quot;&gt;Hj&#228;rtsvikt&lt;/span&gt; &amp;&amp; Akut behandling &amp;&amp; &lt;span class=\&quot;highlight\&quot;&gt;Terapi&lt;/span&gt;rekommendationer &#8211; Akut behandling av &lt;span class=\&quot;highlight\&quot;&gt;hj&#228;rtsvikt&lt;/span&gt;&quot;,

  //Delar av det faktiska innehållet med html spans som omger eventuella perfekta matchningar, HL = highlight
  &quot;content_HL&quot;: &quot; Vid bak&#229;tsvikt och tecken p&#229; f&#246;rh&#246;jda fyllnadstryck/andn&#246;d Hj&#228;rts&#228;ngl&#228;ge: halvsittande kroppsl&#228;ge med s&#228;nkt fot&#228;nda. Oxygen till saturation &gt; 90%, f&#246;rsiktighet/blodgaskontroll vid KOL. Nitroglycerint...&quot;

}</pre>

<h4>Exempel i javascript med jQuery och JSONP, klicka på "Result" för att se svaret:</h4>
<div data-height="378" data-theme-id="0" data-slug-hash="Ayjux" data-default-tab="js" class='codepen'><pre><code>var searchTerms = &quot;terapi hjärtsvikt&quot;;
var apiKey = &quot;nokey&quot;;

$.getJSON( &quot;http://www.lakemedelsboken.se/api/v1/contentsearch?apikey=&quot; + apiKey + &quot;&amp;search=&quot; + encodeURIComponent(searchTerms) + &quot;&amp;callback=?&quot;, function( data ) {

  for (var i=0; i &lt; data.length; i++) {
    var item = data[i];
    
    $(&quot;#output&quot;).append(htmlEncode(JSON.stringify(item, null, &quot;  &quot;)) + &quot;&lt;br&gt;&quot;);
  }  
});

function htmlEncode(value){
  return $(&#x27;&lt;div/&gt;&#x27;).text(value).html();
}</code></pre>
<p>See the Pen <a href='http://codepen.io/staliv/pen/Ayjux/'>Sök innehåll i Läkemedelsboken</a> by Staffan Living (<a href='http://codepen.io/staliv'>@staliv</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
</div><script async src="//codepen.io/assets/embed/ei.js"></script>

						<h3 id="medicine">Sök efter medicinska preparat och ATC-rubriker</h3>

						<h4>Protokoll:</strong></h4>
						<pre>HTTP GET</pre>
						<h4>URL:</strong></h4>
						<pre>http://www.lakemedelsboken.se/api/v1/medicinesearch?search={söktermer}&apikey={nyckel}</pre>
						<h4>Parametrar:</h4>
						<pre>
<a href="http://www.lakemedelsboken.se/api/v1/medicinesearch?search=dabigatran&apikey={nyckel}" target="_blank">search=dabigatran</a> //Mellanslag för att matcha flera ord, max 6 stycken

<a href="http://www.lakemedelsboken.se/api/v1/medicinesearch?search=%22seroquel%20depot%22&apikey={nyckel}" target="_blank">search="seroquel depot"</a> //Inom citationstecken för att söka efter hela meningen</pre>
						
						<h4>Svar:</h4>
						<p class="normal">Svaret kommer som JSON eller JSONP i form av en array, <code>callback=</code> som parameter till anropet gör att svaret returneras som JSONP. Svaret är sorterat med bästa resultat först. Varje objekt i svaret kan vara av två typer, antingen en ATC-kod eller en produkt.</p>
						<h5 id="productObject">Produkt</h5>
						<pre>
{
  //Indikerar att detta är en produkt
  &quot;type&quot;: &quot;product&quot;,

  //Id, är också NplId för produkten
  &quot;id&quot;: &quot;20100417000106&quot;,
  
  //Förälderns id i trädet, alltid en ATC-kod, förutom "root" 
  &quot;parentId&quot;: &quot;N05AH04&quot;,
  
  //Namn på produkten
  &quot;title&quot;: &quot;Seroquel Depot, Depottablett 300 mg , Orifarm&quot;,
  
  //Namn på föräldrar i trädhierarkin, separerade med " / "
  &quot;titlePath&quot;: &quot;Nervsystemet / Neuroleptika, lugnande medel och s&#246;mnmedel / Neuroleptika / Diazepiner, oxazepiner, tiazepiner och oxepiner / Quetiapin&quot;,

  //Id för föräldrar i trädhierarkin, separerade med " / "
  &quot;idPath&quot;: &quot;N / N05 / N05A / N05AH / N05AH04&quot;,

  //Indikationer för en produkt skickas inte med vid en sökning för att spara bandbredd och tid
  &quot;indications&quot;: &quot;&quot;,

  //Länkar till bilder
  &quot;images&quot;: [
    &quot;/products/images/64576cd521d6357ae5e351b0223becc62c81f459.jpg&quot;
  ],

  //Substansnamn
  &quot;substance&quot;: &quot;Quetiapin&quot;,

  //Indikerar om preparatet är parallellimporterat
  &quot;parallelimport&quot;: &quot;Belgien&quot;,

  //Om "noinfo" är satt till "true" betyder det att det inte finns förskrivarinformation för detta preparat
  &quot;noinfo&quot;: false,
  
  //Sökmotorns poäng för detta resultat, ju lägre desto bättre
  &quot;score&quot;: 0.000001,
  
  //Titel med html spans som omger eventuella perfekta matchningar, HL = highlight
  &quot;title_HL&quot;: &quot;&lt;span class=\&quot;highlight\&quot;&gt;Seroquel Depot&lt;/span&gt;, Depottablett 300 mg , Orifarm&quot;,
  
  //Titelhierarki med html spans som omger eventuella perfekta matchningar, HL = highlight
  &quot;titlePath_HL&quot;: &quot;Nervsystemet / Neuroleptika, lugnande medel och s&#246;mnmedel / Neuroleptika / Diazepiner, oxazepiner, tiazepiner och oxepiner / Quetiapin&quot;
}</pre>

						<h5 id="atcObject">ATC-kod</h5>
						<pre>
{
  //Indikerar att detta är en ATC-kod
  &quot;type&quot;: &quot;atc&quot;,

  //Finns det underliggande koder eller produkter?
  &quot;hasChildren&quot;: true,

  //I övrigt samma beskrivningar som för en <a href="#productObject">produkt</a>
  &quot;parentId&quot;: &quot;B01AE&quot;,
  &quot;title&quot;: &quot;Dabigatranetexilat&quot;,
  &quot;titlePath&quot;: &quot;Blod och blodbildande organ / Antikoagulantia / Antikoagulantia / Direkt trombinh&#228;mmande medel / Dabigatranetexilat&quot;,
  &quot;idPath&quot;: &quot;B / B01 / B01A / B01AE / B01AE07&quot;,
  &quot;id&quot;: &quot;B01AE07&quot;,
  &quot;score&quot;: 0.000001,
  &quot;indications&quot;: &quot;&quot;,
  &quot;title_HL&quot;: &quot;&lt;span class=\&quot;highlight\&quot;&gt;Dabigatran&lt;/span&gt;etexilat&quot;,
  &quot;titlePath_HL&quot;: &quot;Blod och blodbildande organ / Antikoagulantia / Antikoagulantia / Direkt trombinh&#228;mmande medel / &lt;span class=\&quot;highlight\&quot;&gt;Dabigatran&lt;/span&gt;etexilat&quot;
}</pre>

<div data-height="380" data-theme-id="0" data-slug-hash="xAzny" data-default-tab="js" class='codepen'><pre><code>var searchTerms = &quot;dabigatran&quot;;
var apiKey = &quot;nokey&quot;;

$.getJSON(&quot;http://www.lakemedelsboken.se/api/v1/medicinesearch?apikey=&quot; + apiKey + &quot;&amp;search=&quot; + encodeURIComponent(searchTerms) + &quot;&amp;callback=?&quot;, function(data) {

  for (var i=0; i &lt; data.length; i++) {
    var item = data[i];
    
    $(&quot;#output&quot;).append(htmlEncode(JSON.stringify(item, null, &quot;  &quot;)) + &quot;&lt;br&gt;&quot;);
  }  
});

function htmlEncode(value){
  return $(&#x27;&lt;div/&gt;&#x27;).text(value).html();
}</code></pre>
<p>See the Pen <a href='http://codepen.io/staliv/pen/xAzny/'>Sök läkemedel i Läkemedelsboken</a> by Staffan Living (<a href='http://codepen.io/staliv'>@staliv</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
</div><script async src="//codepen.io/assets/embed/ei.js"></script>

						<h3 id="atc">Hämta information från vårt träd med ATC-koder och läkemedel</h3>
						<h4>Protokoll:</strong></h4>
						<pre>HTTP GET</pre>
						<h4>URL:</strong></h4>
						<pre>http://www.lakemedelsboken.se/api/v1/atctree?parentid={id}&apikey={nyckel}</pre>
						<h4>Parametrar:</h4>
						<pre>
<a href="http://www.lakemedelsboken.se/api/v1/atctree?parentid=root&apikey={nyckel}" target="_blank">parentid=root</a> //Hämtar från grunden

<a href="http://www.lakemedelsboken.se/api/v1/atctree?parentid=B01AE07&apikey={nyckel}" target="_blank">parentid=B01AE07</a> //Ange en ATC-kod som <code>parentid</code> för att hämta underrubriker</pre>
						
						<h4>Svar:</h4>
						<p class="normal">Svaret består av en array med atc-koder och produkter vilka är barn till given <code>parentid</code></a>.</p>
						<p class="normal">Svaret kommer som JSON eller JSONP i form av en array, <code>callback=</code> som parameter till anropet gör att svaret returneras som JSONP.</p>
						<p class="normal">
							Ett objekt i svaret representerar antingen en produkt eller en ATC-kod. En produkt känns igen genom att den har värdet <code>children</code> satt till en array. 
							En ATC-kod har inte <code>children</code> definierad, däremot finns det en variabel vid namn <code>hasChildren</code> som indikerar om där finns några underliggande objekt.
						</p>
						
						<h5>Produkt</h5>
						<pre>
//Nedan syns svar för ATC-koden B01AE07 (Dabigatranetexilat) <a href="http://www.lakemedelsboken.se/api/v1/atctree?parentid=B01AE07" target="_blank">http://www.lakemedelsboken.se/api/v1/atctree?parentid=B01AE07</a>
//I svaret syns tre produkter som alla klassificeras under namnet Pradaxa
[
  {
    "text": "Pradaxa",
    "id": "Pradaxa",
    "children": [
      {
        "text": "Pradaxa, Kapsel, hård 75 mg , Boehringer Ingelheim",
        "id": "20070309000098",
        "images": [
          "/products/images/3673059b29f1ea2a919cd0cd8166f3bd7c9c2e35.jpg"
        ],
        "noinfo": false
      },
      {
        "text": "Pradaxa, Kapsel, hård 110 mg , Boehringer Ingelheim",
        "id": "20070309000104",
        "images": [
          "/products/images/64576cd521d6357ae5e351b0223becc62c81f459.jpg"
        ],
        "noinfo": false
      },
      {
        "text": "Pradaxa, Kapsel, hård 150 mg , Boehringer Ingelheim",
        "id": "20100219000083",
        "images": [
          "/products/images/d160e52b17749d3f6b497c6aef6c16877a8db77f.jpg"
        ],
        "noinfo": false
      }
    ]
  }
]</pre>
						<h5>ATC-kod</h5>
						<pre>
//Nedan syns svar för ATC-koden B01AE (Direkt trombinhämmande medel) <a href="http://www.lakemedelsboken.se/api/v1/atctree?parentid=B01AE" target="_blank">http://www.lakemedelsboken.se/api/v1/atctree?parentid=B01AE</a>
//I svaret syns sju objekt som representerar ATC-koder
[
  {
    "text": "Melagatran",
    "id": "B01AE04",
    "hasChildren": true
  },
  {
    "text": "Ximelagatran",
    "id": "B01AE05",
    "hasChildren": true
  },
  {
    "text": "Desirudin",
    "id": "B01AE01",
    "hasChildren": true
  },
  {
    "text": "Lepirudin",
    "id": "B01AE02",
    "hasChildren": true
  },
  {
    "text": "Argatroban",
    "id": "B01AE03",
    "hasChildren": true
  },
  {
    "text": "Bivalirudin",
    "id": "B01AE06",
    "hasChildren": true
  },
  {
    "text": "Dabigatranetexilat",
    "id": "B01AE07",
    "hasChildren": true
  }
]</pre>
<h4>Exempelkod</h4>
<div data-height="465" data-theme-id="0" data-slug-hash="JcnGa" data-default-tab="js" class='codepen'><pre><code>var apiKey = &quot;nokey&quot;;

loadData(&quot;root&quot;);

function loadData(parentId) {
  $(&quot;#output&quot;).html(&quot;Hämtar &quot; + parentId + &quot;...&quot;);
  
  $.getJSON(&quot;http://www.lakemedelsboken.se/api/v1/atctree?apikey=&quot; + apiKey + &quot;&amp;parentid=&quot; + encodeURIComponent(parentId) + &quot;&amp;callback=?&quot;, function(data) {
    $(&quot;#output&quot;).html(&quot;&quot;);
    for (var i=0; i &lt; data.length; i++) {
      var item = data[i];
      
      var itemType = &quot;atc&quot;;
      if (item.children !== undefined) {
        itemType = &quot;product&quot;;
      }
      
      if (itemType === &quot;atc&quot;) {
        renderATC(item);
      } else {
        renderProduct(item);
      }
      
    }  
  });
}

function renderProduct(item) {
  $(&quot;#output&quot;).append(item.text + &quot;&lt;br&gt;&quot;);

  for (var i = 0; i &lt; item.children.length; i++) {
    var product = item.children[i];
    $(&quot;#output&quot;).append(&#x27;  - &#x27; + product.text + &quot;&lt;br&gt;&quot;);
  }
}

function renderATC(item) {
  $(&quot;#output&quot;).append(&#x27;&lt;a href=&quot;#&quot; class=&quot;atc&quot; id=&quot;&#x27; + item.id + &#x27;&quot;&gt;&#x27; + item.text + &#x27;&lt;/a&gt;&lt;br&gt;&#x27;);
}

function htmlEncode(value){
  return $(&#x27;&lt;div/&gt;&#x27;).text(value).html();
}

$(&quot;body&quot;).on(&quot;click&quot;, &quot;a.atc&quot;, function() {
  loadData($(this).attr(&quot;id&quot;));
});</code></pre>
<p>See the Pen <a href='http://codepen.io/staliv/pen/JcnGa/'>JcnGa</a> by Staffan Living (<a href='http://codepen.io/staliv'>@staliv</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
</div><script async src="//codepen.io/assets/embed/ei.js"></script>
<!--
						<h3 id="titles">Sök efter rubriker i Läkemedelsboken</h3>
						<p class="normal"></p>
-->
						<h3 id="boxes">Sök efter innehåll i informationsrutor</h3>
						<p class="normal">Du kan söka efter innehåll i enbart informationsrutor i Läkemedelsboken, dvs. terapirekommendationer, faktarutor och tabeller. Detta är till exempel intressant om man har ett namn på ett läkemedel och önskar se mer information kring detta preparat.</p>

						<h4>Protokoll:</strong></h4>
						<pre>HTTP GET</pre>
						<h4>URL:</strong></h4>
						<pre>http://www.lakemedelsboken.se/api/v1/boxsearch?search={söktermer}&apikey={nyckel}</pre>
						<h4>Parametrar:</h4>
						<pre>
<a href="http://www.lakemedelsboken.se/api/v1/boxsearch?search=alvedon&apikey={nyckel}" target="_blank">search=alvedon</a> //Leta efter "alvedon" i informationsrutor</pre>
						
						<h4>Svar:</h4>

						<p class="normal">Om jag söker efter "alvedon" får jag detta som första svar:</p>
<pre>
//Strukturen är samma som för <a href="#contentAnswer">sökningar efter innehåll</a>
[
  {
    "title": "Faktaruta 5 - Paracetamol",
    "level": 3,
    "id": "q1_53",
    "parentId": "q1_49",
    "chapter": "q1_sma_smartbehandl_2013fm10.html",
    "type": "facts",
    "titlePath": "Smärta och smärtbehandling && Behandling && Faktaruta 5",
    "content": "",
    "products": "",
    "score": 0.000001,
    "title_HL": "Faktaruta 5 - Paracetamol",
    "titlePath_HL": "Smärta och smärtbehandling && Behandling && Faktaruta 5"
  }
]</pre>
						<h3 id="genericas">Skicka in en html-text och få eventuella namn på generika uppmärkta</h3>
						<p class="normal">Detta är en tjänst som i dagsläget används av ett <a href="http://en.wikipedia.org/wiki/Bookmarklet">smart bokmärke</a> (bookmarklet på engelska) för att <a href="/bookmarklets/">hitta och märka upp substansnamn/ATC-rubriker på en webbsida</a>. Vi planerar att bygga ut funktionen framöver.</p>
<pre>
<a href="http://localhost/api/v1/injectgenericas?content=paracetamol">http://localhost/api/v1/injectgenericas?content=paracetamol</a> //Byt ut "paracetamol" mot html
</pre>
Svaret kommer i JSON som ett objekt med ett värde vid namn 'content' med den uppmärkta texten.
<pre>
{
  &quot;content&quot;: &quot;&lt;a href=\&quot;/atc/N02BE01\&quot; data-atcid=\&quot;N02BE01\&quot; data-atctitles=\&quot;Nervsystemet--Analgetika--&#214;vriga_analgetika_och_antipyretika--Anilider,_inkl_kombinationer--Paracetamol\&quot; class=\&quot;inlineGenerica text\&quot;&gt;paracetamol&lt;/a&gt;&quot;
}</pre>

						<h3 id="deeplinking">Länka direkt till en del av Läkemedelsbokens webbplats</h3>
						<h4>Länka till ett sökresultat</h4>
						<p class="normal"><code><a href="http://www.lakemedelsboken.se/?iso=true&search=test">http://www.lakemedelsboken.se/?iso=true&search=test</a></code> //Byt ut "test" mot valfritt sökord</p>
						<p class="normal">eller länka till version utan javascript:</p>
						<p class="normal"><code><a href="http://www.lakemedelsboken.se/search?search=test">http://www.lakemedelsboken.se/search?search=test</a></code> //Byt ut "test" mot valfritt sökord</p>

						<h4>Länka till ett preparat</h4>
						<p class="normal"><code><a href="http://www.lakemedelsboken.se/?imo=true&nplId=19530210000012">http://www.lakemedelsboken.se/?imo=true&nplId=19530210000012</a></code> //Byt ut "19530210000012" mot valfritt nplId</p>
						<p class="normal">eller länka till version utan javascript:</p>
						<p class="normal"><code><a href="http://www.lakemedelsboken.se/product/19530210000012">http://www.lakemedelsboken.se/product/19530210000012</a></code> //Byt ut "19530210000012" mot valfritt nplId</p>

						<h4>Länka till ATC-kod</h4>
						<p class="normal"><code><a href="http://www.lakemedelsboken.se/atc/A11GA01">http://www.lakemedelsboken.se/atc/A11GA01</a></code> //Byt ut "A11GA01" mot valfri ATC-kod</p>

						</div>
					</div>
					<div style="clear: both;">
					<hr>
					<footer>
						<p>&copy; Läkemedelsverket</p>
					</footer>
				</div>
			</div>
		</div>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-46072475-1', 'lakemedelsboken.se');
		  ga('send', 'pageview');

		</script>
		<script src="/js/<%=version%>/scripts.min.js"></script>
	</body>
</html>
